<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Part 5: Loose Ends</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
</head>

<body>
    <header>
        <h1>Loose Ends</h1>
    </header>

    {% include "utils/nav" %}

    <main>
        {% include "portals/philosophy/pre_socratics/presocratic_nav"%}



        <!-- wp:paragraph -->
        <p>This article deals with three pre-Socratic philosophers who are not generally considered to be part of any of the
            main schools of thought. This includes Heraclitus, who is ostensibly one of the most important of the pre-Socratics.
            We will also look at Diogenes Apolloniates who was a late pre-Socratic influenced by Anaxagoras and Anaximenes.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:heading {"level":1} -->
        <h2>Heraclitus</h2>
        <!-- /wp:heading -->
        
        <!-- wp:paragraph -->
        <p>Heraclitus can be seen as a natural foil to Parmenides and the whole <a
                href="/portals/philosophy/pre-socratics/part3">Eleatic school</a>.
            Heraclitus was born around 540BC and seemed to live for 60 years, these dates are consistent with what other
            philosophers from the time have written, but as always, these dates are not too well known. However, Heraclitus was
            relatively isolated a philosopher, and during his lifetime did not interact with other philosophers much if at all,
            meaning he is generally not considered part of a school. He was influenced by Thales and Anaximander of the <a
                href="/portals/philosophy/pre-socratics/part1">Milesian
                school</a> and <a
                href="/portals/philosophy/pre-socratics/part2">Pythagoras</a>.
            Fortunately for us, quite a large amount of his fragments have been preserved, so we can understand him in his own
            words.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Heraclitus was, bluntly, an arrogant and unapproachable person. While his ideas were genius (and personally between
            the Parmenides/Heraclitus split, I lean intellectually more towards Heraclitus) he was not someone that it would be
            desirable to have as a friend. Someone to be viewed from a distance. He complains that other people are below him,
            they do not understand his superior intellect, hostile to unfamiliar ideas, care more about their food than the
            truth. He complains people do not use their senses nor intelligence (that is, most people are <em>neither
            </em>empiricists or rationalists!) and they listen to tradition without self awareness and in an inconsistent way.
            He considers the thoughts of most others to be totally worthless.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>According to Heraclitus his own largest discovery was that of the Logos. Logos can be understood to be "everything"
            in a way – not only does it include the physical world, but also all "methods" like ethics, politics, religion an so
            on. The "divine" is the only truly wise being for it is the only thing that grasps the Logos entirely. Although
            surrounded by this <em>Logos</em>, most people totally fail to understand or comprehend its existence. The goal of a
            human, according to Heraclitus, is understanding this <em>Logos</em>. How would one go about understanding it? We
            have two methods: inquiry into ourselves, and inquiry to the outside through correct use of the senses. The first
            one is very much in the rationalist tradition: by pure logic and no reference to anything physical. The second one
            is a little more interesting and unusual. Heraclitus says that the senses are unreliable (in line with many other
            philosophers of the time period) to those with "barbarian souls", but some (presumably Heraclitus included) are able
            to use the senses correctly and gain information about the world.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Can we define the <em>Logos</em> more precisely? Well, Heraclitus says</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>"This Logos holds always, but humans always prove unable to understand it both before hearing it and when they have
            first heard it. For although all things come to be [or, “happen”] in accordance with this Logos, humans are like the
            inexperienced when they experience such words and deeds as I set out, distinguishing each in accordance with its
            nature and saying how it is. But other people fail to notice what they do when awake, just as they forget what they
            do while asleep.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>For this reason it is necessary to follow what is common. But although the Logos is common, most people live as if
            they had their own private understanding."</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>The Logos then is not so much a physical substance but more a unifying, guiding principle. A sort of rational
            principle that some humans can come to understand because they are rational beings too. In some ways, Logos is hard
            to pin down, and even Heraclitus fails to sufficiently define it (in the fragments that we have left).</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Similar to other pre-Socratics, Heraclitus has some sort of atomist materialist who discusses fundamental arche.
            There is some scholarly debate here: Bertrand Russel and A. C. Grayling (although Russel seems to be Grayling's
            primary source) claim that Heraclitus is a monist in line with other Ionians, and argues that fire is the
            fundamental arche. Richard D McKirahan argues that Heraclitus actually thought there were three arche: water, earth
            and fire. However, I consider <em>The Presocratic Philosophers</em> by Jonathan Barnes to be the most complete and
            up to date scholarly account of the pre-Socratics, and he states that Heraclitus has fire as the fundamental arche –
            however – the view here is a little more subtle as fire is transforming into water and vice versa in equal
            proportions. At any rate, fire is of great importance to Heraclitus.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>In common with many other pre-Socratic philosophers, Heraclitus maintains that everything is one. However, the main
            point of Heraclitus is his concept of flux. I think many scholars here overemphasise the concepts of opposites. His
            conception of opposite is summarised in the example that the sea is perfect water for fish and terrible water for
            humans. It expresses both "goodness" and "badness" in one. In the same way, everything is in flux - constantly
            changing. Nothing ever stays the same, this is often summarised into the phrase "you can never step into the same
            river twice". In some way though, it is paradoxical. Heraclitus seems to mean that a property of staying the same is
            changing. What does this mean? Consider the human body: it is one thing, always the same person and body in time.
            Yet there is a constant turnover of the cells. The Amazon river has existed for thousands of years, yet there is
            probably not one atom still the same in it. This is a very subtle view of the world.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:heading {"level":1} -->
        <h2>Diogenes Apolloniates</h2>
        <!-- /wp:heading -->
        
        <!-- wp:paragraph -->
        <p>Unfortunately almost nothing is known about Diogenes' life – he was probably an active philosopher for around two
            decades following 440BC – this would make him a very late pre-Socratic, actually coming after Socrates himself.
            However, since he was mostly influenced by Anaximenes and Anaxagoras we generally consider him a pre-Socratic. This
            is because he also had a concern with the fundamental arche, as are the many others we have viewed so far.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Diogenes has the clearest pre-Socratic teleological view of the universe. He argues that everything in the universe
            is organised in the best possible way, which implies something intelligent made all of it. This view is quite
            significant and why he is worth a brief mention. Diogenes, being a post-Parmenides philosopher also accepts that
            "coming to be" and "perishing" are not possible as such and are mere illusions of the alteration of one basic
            structure. He identifies this structure as air, which itself carries a kind of intelligence.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:heading {"level":1} -->
        <h2>References</h2>
        <!-- /wp:heading -->
        
        <!-- wp:paragraph -->
        <p><em>History of Western Philosophy </em>by Bertrand Russel</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p><em>Philosophy Before Socrates</em> by Richard D McKirahan</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p><em>History of Philosophy</em> by A. C. Grayling</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p><em>The Presocratic Philosophers</em> by Jonathan Barnes</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p><em>Heraclitus</em> by Graham, Daniel W., <em>The Stanford Encyclopedia of Philosophy</em><em>, available from
                <a href="https://plato.stanford.edu/entries/heraclitus">https://plato.stanford.edu/entries/heraclitus</a></em></p>
        <!-- /wp:paragraph -->

    </main>

</body>

</html>