<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Part 6: The Atomist Pluralists</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
</head>

<body>
    <header>
        <h1>The Atomist Pluralists</h1>
    </header>

    {% include "utils/nav" %}

    <main>
        {% include "portals/philosophy/pre_socratics/presocratic_nav"%}



        <!-- wp:paragraph -->
        <p>There are two members of the Atomist Pluralist school: Leucippus and Democritus, and we shall deal with them together
            as one. This is because they are very similar in thought, and apparently some of the works have been misattribute to
            each other (possibly explaining why they are so similar).</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Leucippus seems to be the older figure and was active possibly around 440BC. He was influenced by Parmenides and Zeno
            of Elea. Sadly, not much is known about him, and some of the ancient Greeks came to later deny his existence as
            myth, although modern scholars have reversed that theory.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Democritus is a much more definite person of whom much more is known. He was active around 420BC. He was certainly
            well travelled and praised by others of the time as being highly knowledgeable. He was a contemporary of Socrates
            and the Sophists (who I will cover in a later article). While in some ways then could be considered a post-Socratic,
            he is somewhat inseparable from Leucippus, and so firmly falls into the pre-Socratic camp.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>The purposes of the Atomist Pluralist school of thought was to bridge the gap between the monism of Parmenides and
            the Pluralism of Empedocles. Their view ends up being remarkably similar to that of modern science, although, of
            course, lacking in subtly and mathematical backing. They thought that material was made of "atoms" – very tiny
            particles which were physically indivisible and indestructible. There is some space between the atoms. These atoms
            have always existed, there is an infinite number of them, and they are always in motion. They also thought there
            were different atoms of various sizes, shapes and weight which gave rise to the different properties of the bulk
            materials they make up.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>The Atomist Pluralists were also determinists. They denied chance, and maintained that everything happened according
            to natural laws. However, they could also be therefore seen as a sort of anti-teleological school of thought. They
            denied that things exist for a "purpose" or a "final cause". When we ask "why" something happened, there tends to be
            two ways to interpret the question. One is a mechanical answer, and the other is a teleological answer. If I ask
            "why was this bread made?" we might answer in two ways – we could answer "because people will be hungry" or we could
            answer along the lines of "because the baker placed dough in the oven". One is in terms of future events it will
            serve, and the other in terms of the past events. Unfortunately, the teleological view was emphasised until the
            European Renaissance in the 13<sup>th</sup> and 14<sup>th</sup> Century, which significantly delayed the advancement
            of mechanical science.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>In some ways then, the Atomist Pluralists can be seen as the first scientists, and their ideas regarding atoms are
            closer to modern science than we might imagine for something that was thought up in around 440BC. While it might be
            tempting to ascribe this to chance, I think the logic develops quite naturally. In this context, what Parmenides is
            talking about becomes more clear: a fixed amount of "stuff" in the universe which can not change in amount or
            substance but can transform into other forms, and it is made from some more basic "thing". However, while abstract
            and philosophical, Atomic Pluralism is a natural progression if one asks to define more precisely what all of this
            means.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:heading {"level":1} -->
        <h2>Referneces</h2>
        <!-- /wp:heading -->
        
        <!-- wp:paragraph -->
        <p><em>History of Western Philosophy </em>by Bertrand Russel</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p><em>Philosophy Before Socrates</em> by Richard D McKirahan</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p><em>History of Philosophy</em> by A. C. Grayling</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p><em>The Presocratic Philosophers</em> by Jonathan Barnes</p>
        <!-- /wp:paragraph -->

    </main>

</body>

</html>