<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Part 1: The Milesian School</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
</head>

<body>
    <header>
        <h1>The Milesian School</h1>
    </header>

    {% include "utils/nav" %}

    <main>
        {% include "portals/philosophy/pre_socratics/presocratic_nav"%}



        <!-- wp:paragraph -->
        <p>Pre-Socratic philosophy essentially refers to a group of philosophers that came before Socrates (or were his
            contemporaries). These philosophers are grouped by two qualities, I think. The first is that they unfortunately have
            very little in the way of sources left (indeed, most of what we know about them is from what other philosophers
            wrote about them). The second is they only dealt with questions of metaphysics - that is, questioning what is really
            real, how did the universe come to be, what is it made of. Socrates revolutionised philosophy by discussing the two
            other branches of philosophy, that is ethics and epistemology (questions related to knowledge).</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>The goal of this blog is twofold. First, I wish to introduce you, dear reader, to the pre-Socratics. Secondly, I wish
            to delve into the thought and analyse it in some degree. I think many texts that deal with the pre-Socratics
            basically copy off one another and only cover one or two big takeaways from each philosopher. I think this is a
            mistake, and as I hope to show, there is great depth and room for philosophic analysis in pre-Socratic thought and I
            hope to shed some light on this.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>The historian Diogenes Laertius (Another Diogenes will become important to us later so I will refer to this historian
            by his full name of Diogenes Laertius to avoid confusion) in his <em>Lives of the Eminent Philosophers</em>
            summarises the birth of philosophy quite well. He says that philosophy had a twofold origin - it began with
            Anaximander and Pythagoras. However, he immediately appears to contradict himself by saying that Anaximander was
            taught by Thales and Pythagoras was taught by Pherecydes. Surely these would be the founders of philosophy? That
            appears to me to be what modern historians of philosophy take to be the case, in fact, the general consensus is that
            Thales was the father of philosophy. We'll get into that in just a moment. Diogenes Laertius goes on to say that
            Anaximander founded the Ionian school of philosophy and Pythagoras the Italian school. We will be delving into these
            schools in more general in a later article.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Since there are quite a number of pre-Socratic philosophers, in this article we will just be covering the
            philosophers from the Milesian school, which is a sub-branch of the Ionian school. These were the first
            philosophers. In later articles we will be exploring the other schools of pre-Socratic thought, so check back! The
            Mileisan school is named after the town the philosophers were from: Miletus. It is situated on what is today the
            South West coast of Turkey, although it should be noted that the Turkish people hadn't arrived yet and this area of
            the world was a part of the Greek world.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:heading -->
        <h2>Thales</h2>
        <!-- /wp:heading -->
        
        <!-- wp:paragraph -->
        <p>Thales is the first recorded philosopher in history. Some historians of philosophy often talk about how incredible he
            was for suddenly getting the idea to ask questions about the origin of everything totally alone. I think it is
            unlikely that he was the first philosopher in history - there we almost certainly other people who gave some degree
            to thought. After all, someone must have at some point asked "why do the seasons change?" or "why does the sun
            rise?". There may have even been a few attempts at answering these questions. However, Thales was certainly the
            person that took a crack at these questions enough for historians at the time to bother writing his name down.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Aristotle in his <em>Politics</em> recounts a story of how Thales was very poor because he spent all day thinking,
            and people taunted him. So, Thales observed the weather and working out when a good harvest of olives was due.
            During the winter months he raised money and bought up all the olive presses in town, and was renting them out.
            However, when the abundant olive harvest came the whole town was scrambling to rent his olive presses, Thales was
            able to increase the price and make a huge profit. Thales wanted to show that philosophers can easily be rich, but
            choose not to be. Aristotle is, however, not impressed. He says what Thales did is "a matter of fact this device of
            taking an opportunity to secure a monopoly is a universal principle of business". Aristotle recounts a story of a
            man who was able to buy all the iron from a mine and sell it at much higher prices because he had the whole supply.
            I think Aristotle actually misses the point a little here. The brilliance of Thales isn't the monopoly, but
            predicting when the olive harvest is going to be particularly abundant in advance. </p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>This isn't the only great feat Thales manages. Herodotus in <em>The Histories</em> notes that Thales was able to
            predict an eclipse. It strikes me that Thales is a bit of a polymath himself!</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>However, Thales is most famous for his monist ideas. Monism is a theory that all things can be reduced down to one
            fundamental thing. Aristotle in his <em>Metaphysics </em>explains monism by stating that the thing in itself
            persists through changes. We do not state that Socrates ceases to be Socrates if he ceases to be handsome. The
            essence of Socrates has always been and always will be Socrates. In the same way all matter itself is just one thin,
            expressed in different forms. Matter is the thing in itself, and the form is what we see, is the easiest way to
            think of this. Thales thinks this permanent entity, this matter, is water. It isn't hard to imagine why he comes to
            this conclusion. He lived on the coast in a very maritime society, so would have seen huge amounts of sea all made
            from water. Water falls from the sky, it flows in rivers. Every living thing requires water to live. Water can also
            be present in a solid, liquid and gas phase. It seems a perfectly reasonable piece of matter to be the fundamental.
        </p>
        <!-- /wp:paragraph -->
        
        <!-- wp:heading -->
        <h2>Anaximander</h2>
        <!-- /wp:heading -->
        
        <!-- wp:paragraph -->
        <p>Anaxiamnder was the student of Thales and as we already discussed the one Diogenes Laertius identified as one of the
            sources of philosophy. Strabo in his Geography also mentions that Anaximander published the first map of the world.
            Sadly, this map is lost but much ink has been spilled guessing what it might have looked like. He also appears to
            have been an accomplished astronomer according to Pliny the Elder in his The Natural History. Pliny the Elder
            describes Anaximander's model of the solar system. The Suda* elaborates on his astronomical achievements by stating
            that he was the first to discover solstices, "hour-indicators", the earth being at the centre of the universe, the
            sundial and the "basis of all geometry". Interestingly, <em>The Suda</em> does not mention any of his more
            philosophical achievements. Again, I find it interesting that Anaximander appears to be quite the polymath!</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Pseudo-Plutarch** in their <em>Placita Philosophorum</em> notes Anaximander's basic philosophical thought.
            Anaxiamander, like his teacher Thales, was a monist. However, he thought that the "infinite". Pseudo-Plutarch
            criticises Anaximander for not defining what the "infinite" is "whether it be air, or water, or earth". I think this
            is a mistake however, the infinite is likely to be some sort of metaphysic substance that is unknown to us and
            immaterial in nature.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Plutarch (the real one this time) in his <em>Quaestiones Convivales</em> recounts another of Anaximander's theories.
            He wonders how the first humans were able to survive, since, as babies we are totally defenceless. He states that
            the first humans were protected inside the belly of a fish and when they were old enough cut their way out. Some
            authors have taken this to be the first theory of evolution, but I find this to be suspicious - A C Grayling agrees
            stating that this is "reading in present ideas into what superficially sounds suggestive in ancient ideas". </p>
        <!-- /wp:paragraph -->
        
        <!-- wp:heading -->
        <h2>Anaximenes</h2>
        <!-- /wp:heading -->
        
        <!-- wp:paragraph -->
        <p>Anaximenes was the pupil of Anaximander. Again, I notice that Anaximenes is a polymath! Pliney the Elder in his
            <em>The Natural History</em> says that Anaximenes discovered the "theory of shadows" and the "art of dialling". This
            sounds to me like a sundial or perhaps some other astronomical device. I must also warn that there are two
            Anaximenes written about in the ancient texts: Anaximenes of Miletus is the one we are interested in here. This is
            also an Anaximenes of Lampsacus (usually referred to as Anaximenes the Orator in the primary sources). Don't get
            these two confused, as I did many times writing this article before I realised there were two of them.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Since he came from the monist tradition he was steeped in the ideas of both Thales and Anaximander. He agreed with
            Anaximander that the fundamental must be more universal and all-present than what Thales suggested, yet, he agreed
            with Thales that it must be more material. He therefore suggests air as the fundamental. He goes further to state
            that all motion comes from the eternal motion of this air (he felt the wind all around him no doubt) and this breaks
            from the tradition of thinking that all things require little stones inside them to move, as recorded in the
            <em>Placita Philosophorum</em> by Pseudo-Plutarch. Plutarch in the <em>De Primo Frigido</em> records an interesting
            detail about Anaximenes - he performed a simple experiment by blowing out air with pressed lips and wide lips. When
            air is blown through pressed lips it is cold and hot through wide lips. The key here is that Anaximenes is
            attempting to do experiements, observe their results, and explain all the phenomena he sees in one universalising
            theory. This is perhaps the first example of the scientific method, and garners great respect.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:heading -->
        <h2>Closing</h2>
        <!-- /wp:heading -->
        
        <!-- wp:paragraph -->
        <p>Hopefully this has given you a good understanding of the Milesian school and the origin of philosophy. I think this
            shows that there is good reason to study what little remains of these early contributors to philosophy and science -
            they, after all, gave us the building blocks of modern philosophical thought two and a half thousand years ago!
            Another quality of these early philosophers I noticed is that they are all polymaths! This is very exciting to see
            that the idea of studying many fields and topics goes way back to the start of philosophy. In the next article in
            this series I will be covering the Pythagorean school of philosophy perpetuated by Pythagoras, the same guy who
            liked triangles! I hope to see you there.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:heading -->
        <h2>Notes</h2>
        <!-- /wp:heading -->
        
        <!-- wp:paragraph -->
        <p>*The Suda is a massive encyclopaedia from 11th Century Byzantium about the Greco-Roman world</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>**Pseudo-Plutarch is a name we give to a collection of unknown authors who wrote texts we originally thought were
            written by Plutarch.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:heading -->
        <h2>References </h2>
        <!-- /wp:heading -->
        
        <!-- wp:paragraph -->
        <p>Lives of the Eminent Philosophers by Diogenes Laertius</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Politics by Aristotle </p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Metaphysics by Aristotle</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>The Histories by Herodotus</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Placita Philosophorum by Pseudo-Plutarch</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Quaestiones Convivales by Plutarch </p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>The Natural History by Pliney the Elder</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>A History of Philosophy by A C Grayling</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>De Primo Frigido by Plutarch</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>The Suda</p>
        <!-- /wp:paragraph -->

    </main>

</body>

</html>