<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Economics Portal</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
    <header>
        <h1>Economics Portal</h1>
    </header>

    {% include "utils/nav" %}

    <main>
        <p>This is the Economic portal. Economics is broadly the study of the distribution of scarce resources with
            alternative uses. My views on economics have been informed by the brilliant work of Ludwig von Mises, and
            his intellectual descendants.
        </p>

        <h2><a href="https://newpolymath.home.blog/2020/03/11/why-we-became-rich-and-a-warning-about-coronavirus/">Why
                We Became Rich</a></h2>

        <p>This is probably my most successful essay I have ever written, it has thousands of views (which I am quite
            proud of). It is based mostly on the <i>Bourgeois</i> series of books by Deirdre McCloskey, some work of Ayn
            Rand's, and some work of Mises. It also contained a warning about covid and supply chains (which, came
            pretty much true exactly as I foretold). There must be at least some merit in the works of the economists.
            Although, I was a little younger when I wrote this, and might write a new version soon that is in a better
            style.</p>

        <h2>The Ethics and Economics of Private Property</h2>

        <p><i>The Ethics and Economics of Private Property</i> by Hans-Hermann Hoppe. It is easily one of the most
            stunning economic works I have ever read. From pure first principles Hoppe derives the entire framework of
            all economic activity. His signature writing style is always a joy to behold to boot. There is no doubt that
            this work has influenced my own views on economics to the highest pitch.</p>

        <h2></h2>
    </main>

</body>

</html>