<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>History Portal</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
    <header>
        <h1>History Portal</h1>
    </header>

    {% include "utils/nav" %}

    <main>
        <p>This is the history portal. All of my historical work is listed here, as well as influential history books to
            me. I mostly focus on the theories of history itself rather than specific events. When I do focus on
            specific historical events, I focus on the Anglo-Dutch relationship in history. Its critical importance
            is severely understudied. It culminated in the creation of South Africa and handing Jan
            Smuts significant global political power, laying the ideological foundations for the global modern world.
        </p>

        <h2>Pride and Fall Sequence</h2>

        <p>This masterpiece of four works by Correlli Barnett covers the decline of British power from the inter-war
            period onwards. The four books, in order, are: <i>The Collapse of British Power</i>, <i>The Audit of War:
                The Illusion and Reality of Britain as a Great Nation</i>, <i>The Lost Victory: British Dreams, British
                Realities, 1945-50</i> and <i>The Verdict of Peace: Britain Between Her Yesterday and the Future</i>. I
            am currently working on a longer essay covering some of the main points that Barnett covers in the books, do
            check back for that soon.</p>

        <h2>Commando: A Boer Journal Of The Boer War</h2>

        <p>This book tells the stunning tale of Denys Reitz, a Boer, during the Boer War. This fascinating look into the
            people who fought gives a real glimpse into the actions that were taken. I wrote a piece on <a
                href="https://newpolymath.home.blog/2021/10/31/commando-a-boer-journal-of-the-boer-war/">this book
                here</a>
        </p>

        <h2>Going Dutch</h2>

        <p><i>Going Dutch</i> by Lisa Jardine explores the relationship between England and The Netherlands, and how
            this lead to developments in science, art, religion and politics. This is a well written book, check back
            soon for my analysis of the text.</p>
    </main>

</body>

</html>