<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>My Portals</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
    <header>
        <h1>Portal Main Page</h1>
    </header>

    {% include "utils/nav" %}

    <main>
        <p>Here is a list of my portals. These contain all of my articles, tutorials and 
            references to works I find of interest
        </p>

        <h2><a href="/portals/science/science_portal">Science and Maths Portal</a></h2>
        <p>I studied a masters in physics at the University of Sussex, specialising in neutrino
            physics. Since then I have remained interested in all aspects of science. I am
            especially to keep my mathematical skills sharp</p>
        
        <h2><a href="/portals/programming/programming_portal">Programming Portal</a></h2>
        <p>I currently work as a software engineer and researcher in navigation, as such I need
            to keep my programming skills sharp. I mostly work in <code>Rust</code> these days,
            but I am experienced in <code>C++</code>, <code>Python</code>, <code>FORTRAN</code>,
            <code>LaTeX</code> and <code>R</code>.
        </p>

        <h2><a href="/portals/economics/economic_portal">Economics Portal</a></h2>
        <p>My perspective on economics has been formed mostly by the greatest
        economist of all time: Ludwig von Mises. I understand economics as a logical science
        that studies human action. This is also called praxeology</p>

        <h2><a href="/portals/history/history_portal">History Portal</a></h2>
        <p>My interests in history are quite varied, but here I mostly focus on historiography 
            rather than any particular historical event. I like to analyse history with 
            by informing the view with a logical understanding of economics, and try to draw
            out general principles.</p>

        <h2><a href="/portals/philosophy/philosophy_portal">Philosophy Portal</a></h2>
        <p>Philosophically, I have mostly studied epistemology, and considered the capacity for what
            it is possible to know. A number of philosophers have influenced my views, including
            Ludwig von Mises, Ayn Rand, Aristotle, St Thomas Aquinas and many others.</p>

        <h2><a href="/portals/politics/politics_portal">Politics Portal</a></h2>
        <p>Politically speaking I mostly follow the Machiavellian school of political analysis 
            based on understanding power and its applications. You won't find any rank 
            punditry on my blog!</p>
        
        <h2><a href="/portals/polymath/polymath_portal">Polymath Portal</a></h2>
        <p>I joined the Polymath Society in my first year at Sussex University.
            I became deeply ingrained in the society, going to every event,
            and eventually became President. I want to continue to carry forward 
            the mission of that society throughout my life.
        </p>

    </main>

</body>

</html>