<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Science, Maths, Programming and Technology Portal</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
    <header>
        <h1>Science, Maths, Programming and Technology Portal</h1>
    </header>

    {% include "utils/nav" %}

    <main>

        <p>After my masters in physics from The University of Sussex, I landed a job as a geodesic researcher for Naurt.
            There, I continued to hone my skills in mathematics and programming.</p>

        <h2><a href="../teaching_pages/learn_maths_physics_programming.html">Learning Maths, Physics and Programming</a>
        </h2>

        <p>This is a course that is still under development that deals with how to learn mathematics, physics and
            programming from the ground up at the same time. I think there is a real synergy in learning all three
            simultaneously. This article will take me some time to finish, although even what is there now will still
            keep you occupied for some time.</p>

        <h2><a href="http://newpolymath.home.blog/2020/06/29/how-to-generate-random-number-distributions-in-r/">How to
                Generate Random Number Distributions in R</a></h2>

        <p>A spin off from something I studied in my degree, generating random numbers from any arbitrary distribution
            is a very helpful skill in Monte Carlo simulations.</p>

    </main>

</body>

</html>