<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>How to Present</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
</head>

<body>
    <header>
        <h1>How to Present</h1>
    </header>

    {% include "utils/nav" %}

    <main>
        <!-- wp:paragraph -->
        <p>Giving a presentation is a very important skill in life. Generally, it's great to have good ideas, and you will need
            them. However, you also need to communicate them to other people for them to really have value. The medieval
            educators understood this very well so they made the entire grammar part of the trivium focused on writing and
            defending thesis orally. I think as polymaths we need to be able to communicate our ideas in writing and
            presentations. Today we will focus on the presentations.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Starting a presentation is already an interesting question. Generally it's best to not start with a joke, the
            audience won't be ready for it. Start instead with a promise of what the audience will know by the end. An example
            of this might be something like "by the end of this presentation you will understand how to present to an audience
            and effectively keep them engaged". A lot of people think about this "hamburger" method, if you're not familiar the
            idea is that you keep the most meaty parts of the presentation for the middle and have the fluffy stuff at the start
            and end. This is always an awful idea, as everyone will be zoned out by the time you get to the good stuff. Put the
            good stuff, the main point, the primary objective of the presentation right up early.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>When it comes to keeping people engaged with your ideas, there are four key ideas you should try and keep in mind.
            Cycle on the subject – tell people something three times. A good way to do this is to engage in dialogue. This
            doesn't have to be literally having a back and forth conversation with a member of the audience, but sometimes
            telling stories about where you learned something, how you came across it, why it's relevant or interesting to you
            adds a lot of flavour to a presentation while reinforcing the main ideas. This is because people do not think
            linearly in reality, they think in dialogues. There's a reason the ancient Greeks wrote a lot of philosophy in the
            format of dialogues.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Secondly, you should try and build a fence around it – distinguish it from other ideas. You might highlight how your
            approach to a topic differs from another approach. I'm working on a psychology essay right now, I know that isn't a
            presentation but the broad point still stands, and I want to highlight how the behaviourist perspective differs from
            the cognitive and humanist perspectives. I want to emphasise the ways in which they differ from one another so
            people understand the boundaries of what is the behaviourist approach to psychology.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Use verbal punctuation – announce when people can jump back in. Inevitably, people will tune out during a
            presentation. Even the best speakers in the world can not hold the attention of 100% of the audience 100% of the
            time. Much like I am doing right now by enumerating these four major points, enumerate ideas in your talks. It gives
            audience members a hook to jump back in if they get lost, and they will appreciate that. If you ask audience members
            about this they will often say a speaker was good at helping them understand difficult ideas when in reality all
            they did was read off a numbered list of ideas. This technique is so powerful.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Finally, you can ask questions to the audience. Like the last one, it's a hook that lets people jump back in, but it
            also adds audience engagement. There's a few don's though. Don't ask too many or it turns from a presentation into
            you interviewing the audience. Don't make the questions too easy or everyone will be embarrassed to answer in case
            it's a trick and they have the wrong idea. Equally, don't make them too hard or nobody will have anything to say.
            Asking questions is all about finding the right balance. In order to do this, you also need to understand the kind
            of audience you have. Are they children, university students, experts in the field, a mixture from the general
            public? It's important to find this out.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>The time and place of the presentation is also important. Sometimes, sadly you can't control these but when you can
            try and schedule it not too early or too late. You want people to be awake. Ensure the room is well lit. People have
            a tendency to turn the lights down so the audience can see the slides better, but it's actually really difficult to
            see the slides if you fall asleep. A dim room will make people lose focus. You should try and scope out the room
            before you present there, and talk to whoever is in charge to make sure it will be well lit. Also, ideally the room
            should be reasonably populated. If you have some giant hall with only ten people in it the whole experience will be
            awkward for everyone. As a general rule, at least half full is needed for the room size to feel natural.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Moving into the subject of presenting aides. Here, we need to think about two different kinds of presentations. There
            are teaching style ones, like if you were lecturing, and exposing style presentations, like at a job interview or a
            conference. For a teaching style presentation, try and stick to using boards (like chalk or whiteboards) over
            slides. If you have the option, use chalk over a whiteboard. People who don't get lectured to love to replace
            chalkboards with whiteboards, but students almost unanimously prefer when lecturers use chalk. The board has a
            graphic quality where you can quickly create diagrams live which would otherwise be challenging to communicate the
            same ideas with on a slide. It also forces you to slow down, which is good, because people always tend to go too
            fast in a presentation. People need time to absorb your material. Finally, you can point at things you have drawn or
            written out, giving you something to do with your hands. As a tip, often, it doesn't matter if what you are
            gesturing at is even relevant to what you are saying.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Slides are for exposing ideas, not teaching. There are two things that are always true with slides; you have too many
            of them and they have too many words on them. Try and cut as much content from the slides as possible, they should
            really only contain an enumeration of ideas. Cut slide titles, cut logos of institutions from every slide
            (conference presenters love to do this, just put your institution logo on one slide at the start), cut out complex
            diagrams, cut out bullet points (just putting ideas each on their own line works). Don't stand too far from the
            slides, or it creates a kind of tennis match feel where the audience is bobbing back and forth. Don't use laser
            pointers or wooden sticks with slides, because this kills any engagement you have with the audience. If there's
            something you want to highlight, put a labelled arrow on it which you can reference in the talk. Most importantly,
            and everyone knows this but many still do it, do not read out every word on the slide. I often like to not even put
            words on my slides and just have one image per slide.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Props are great for showing off ideas in a presentation. If you have the ability to bring something to show off, you
            should do so. People will remember your presentation based on the props. Obviously though, make sure the prop is
            large enough to be visible to the whole audience. You can enhance the use of props by being dramatic with them, just
            like in plays. Destroying props is always a popular one, but this could become expensive!</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>When you practice your talks you shouldn't practice on people who are in your field. They will hallucinate in
            material that isn't there. Instead, find friends who know nothing about what you do and ask them to be brutal about
            your presentation. You will appreciate this once it comes to delivering this presentation to people who do know
            something about your field, which is more common.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>When you're giving a presentation for a job position you really need to demonstrate two things. You need to
            demonstrate that you have a vision, and that you have actually done something. You have an absolute maximum of 5
            minutes to show off these two things. That's not a lot of time, so you need to do these two things straight away. To
            show vision you need to define a problem that has yet to be solved and an approach to solve it. To show that you
            have done something, enumerate your contributions to solving this problem, and all the steps involved. It isn't
            necessary that the problem yet be solved or that you have yet to do all the steps. Make sure to really establish and
            emphasise what you contributed to each of those steps.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>We also might want our presentations to become a little famous. There's really five major things you need for a work
            to become memorable. One, it needs to have some kind of symbol associated with this. This would usually be some kind
            of imagery that's really simple and already well known that people can associate with your work. Then you want some
            kind of slogan. This doesn't have to be long, but coining a new phrase or name for a technique will be remembered.
            You want to have some kind of surprise, something unexpected to arise out of your work. You also need a salient
            idea, not necessarily the best one, but one that sticks out. One you can draw attention to. Even if you have 20
            amazing ideas, unless there's one you can really highlight, it won't shine. Finally, you need a story of how this
            thing is important and what it addresses.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Finally we can move onto finishing a presentation. On your final slide don't list collaborators – do that at the
            beginning. Also don't end with slides that just say "Questions?", "Thank You", "The End" or have a url link
            (absolutely nobody will type that link out). Your final slide should enumerate your contributions to the field you
            were discussing and your name and contact! This is the most valuable use of the real estate of the last slide,
            people will have reiterated to them why they should listen to you. On the final words, you could tell a joke –
            people would be ready for it. What you don't want to do is say "thank you". Instead, the strongest way to end is to
            salute the audience. Something along the lines of "you've been a very welcoming and I look forward to coming back in
            the future".</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>With that, by now you should have a good understanding of how to effectively deliver a presentation and I hope you
            are able to put these techniques into practice in your own life.</p>
        <!-- /wp:paragraph -->

    </main>

</body>

</html>