<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Programming</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
    <header>
        <h1>Programming</h1>
    </header>

    {% include "utils/nav" %}

    <main>

        <ul>
            <li><a href="/blog/programming/handling-errors-in-rust">Handling Errors in Rust</a></li>
            <li><a href="/blog/programming/how-to-refactor">How to Refactor</a></li>
            <li><a href="/blog/programming/joy-of-programming">The Joy of Programming</a></li>
            <li><a href="/blog/programming/lifetime-ownership-rust">Lifetimes and Ownership in Rust</a></li>
            <li><a href="/blog/programming/i-hate-oo">Why I Hate Object Orientated Programming And What to Use Instead</a></li>
        </ul>


    </main>

</body>

</html>