<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Humanities</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
    <header>
        <h1>Humanities</h1>
    </header>

    {% include "utils/nav" %}

    <main>

        <h2>Politics</h2>

        <p>My views on politics have mostly been influenced by the Italian 
            Elite School, that is, Vilfredo Pareto, Gaetano Mosca, and Robert 
            Michels. This school was founded on the thought of Machiavelli
            and given a notable boost by James Burnham.
        </p>

        <ul>
            <li><a href="/blog/politics/a-defence-of-machiavelli">A Defence of Machiavelli</a></li>
            <li><a href="/blog/politics/war-that-will-end-war">Comments on the War That Will End War</a></li>
            <li><a href="/blog/politics/beyond-left-right">Beyond Left and Right</a></li>
        </ul>

        <h2>History</h2>

        <p>I mostly focus on the theories of history itself rather than specific
            events. When I do focus on specific historical events, I focus on 
            the Anglo-Dutch relationship in history. Its critical importance
            is severely understudied. It culminated in the creation of South 
            Africa and handing Jan Smuts significant global political power, 
            laying the ideological foundations for the global modern world.
        </p>
        
        <ul>
            <li><a href="/blog/history/commando">Commando: A Boer History of the Boer War</a></li>
        </ul>

        <h2>Economics</h2>

        <p>Economics is broadly the study of the distribution of scarce 
            resources with alternative uses. My views on economics have been 
            informed by the brilliant work of Ludwig von Mises, and
            his intellectual descendants.
        </p>
        
        <ul>
            <li><a href="/blog/economics/bourgeois-virtues">What are the Bourgeois Virtues?</a></li>
            <li><a href="/blog/economics/british-welfare-state">On the British Welfare State</a></li>
            <li><a href="/blog/economics/after-the-welfare-state">After the Welfare State</a></li>
        </ul>

        <h2>Philosophy</h2>

        <p>Philosophically I have mostly been interested in epistemology, that is, questions regarding what can we know?
            I am also interested, though, in a broad range of philosophical concepts.</p>
        
        <ul>
            <li><a href="/blog/philosophy/very-short-intro-logic">A Very Short Introduction to Logic</a></li>
            <li><a href="/blog/philosophy/definition-of-art">Towards a Definition of Art</a></li>
            <li><a href="/blog/philosophy/social-contract">Rousseau and the Social Contract</a></li>
            <li><a href="/blog/philosophy/what-can-we-know">What Can we Know?</a></li>
        </ul>


        <h3>The Pre-Socratics</h3>
        
        <p>This collecting of pieces details the pre-Socratic philosophers, the
            earliest thinkers to whom we have a record. The structure of these
            articles is first an introduction to the study, one article per
            school of thought, and finally an introduction to Socrates himself.
        </p>
        
        <ol>
            <li><a href="/blog/philosophy/pre-socratics/preamble">
                    Preamble</a></li>
            <li><a href="/blog/philosophy/pre-socratics/part1">Part 1:
                    The Milesian School
                </a></li>
            <li><a href="/blog/philosophy/pre-socratics/part2">Part 2:
                    The Pythagorean School
                </a></li>
            <li><a href="/blog/philosophy/pre-socratics/part3">Part 3:
                    The Eleatic School
                </a></li>
            <li><a href="/blog/philosophy/pre-socratics/part4">Part 4:
                    The Pluralists
                </a></li>
            <li><a href="/blog/philosophy/pre-socratics/part5">Part 5:
                    Loose Ends
                </a></li>
            <li><a href="/blog/philosophy/pre-socratics/part6">Part 6:
                    The Atomist Pluralists
                </a></li>
            <li><a href="/blog/philosophy/pre-socratics/part7">Part 7:
                    The Sophists
                </a></li>
            <li><a href="/blog/philosophy/pre-socratics/socrates">Introduction
                    to Socrates
                </a></li>
        </ol>
        
        

        

    </main>

</body>

</html>