<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Part 4: The Pluralists</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
</head>

<body>
    <header>
        <h1>The Pluralists</h1>
    </header>

    {% include "utils/nav" %}

    <main>
        {% include "portals/humanities/philosophy/pre_socratics/presocratic_nav"%}


        <!-- wp:paragraph -->
        <p>Building off of the Eleatic school last week, the Pluralist school can be considered a kind of post-Parmenides
            reaction. While working inside Parmenides framework that all is one and that "becoming" and "ending" are not
            possible, they aimed to reconcile Parmenides' other views with an acceptance that the senses can indeed tell us
            something about the world.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:heading {"level":1} -->
        <h2>Anaxagoras</h2>
        <!-- /wp:heading -->
        
        <!-- wp:paragraph -->
        <p>Born around 500BC and died around 428BC, Anaxagoras was said to be a pupil of Anaximenes, however, given the
            approximate dates of their deaths and births, it seems this was more metaphorical, and he was influenced by the
            ideas of the long dead Anaximenes. Anaxagoras was significant for being the first to introduce philosophy to Athens,
            which would come to be the springboard for all later Western philosophy.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Much like Socrates after him, Anaxagoras was accused of impiety, for teaching that the sun was a hot stone and that
            the moon was made of the same substance as the earth. The details are not as well known as the trail of Socrates but
            he did have to leave Athens.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Anaxagoras was grappling with the problem presented by Parmenides – how to account for the world of plurality and
            change that our senses provide, but Parmenides reasoned do not exist. His argument is that "becoming" and "ending"
            are not creation and destruction but rather mixing and separations of eternally existing elements.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Anaxagoras also said that all matter is infinitely divisible into smaller parts, and that ever part, no matter how
            small contains the "seeds" of all the elements. In this way, there is never separation of the elements, and
            everything remains one – in agreement with Parmenides.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>How does this mixing and separation occur? Anaxagoras argues that there was some time when the universe was an
            undifferentiated mass of the seeds of elements, and then "mind" or "reason" acted upon these seeds to put them into
            motion. This motion gives rise to that which is observed by our senses.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:heading {"level":1} -->
        <h2>Empedocles</h2>
        <!-- /wp:heading -->
        
        <!-- wp:paragraph -->
        <p>Born around 490BC and died around 430BC, Empedocles was an aristocrat from Italy, who came to favour democracy.
            Unfortunately, he also wrote in poems leading to significant difficulty in understanding his works, but the upside
            is that a rather large amount of his work still survives. Empedocles was influenced significantly by both Parmenides
            and the Pythagorean school and elements of each can be found in his work.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Not only a philosopher, he was also significant in medicine. Galen described him as the founder of the Italian school
            of medicine which taught that illness results from the imbalances of heat, cold, dampness and dryness. These
            properties are associated with the elements of fire, water, earth and air – a theme that has become common among the
            pre-Socratics. Not only in medicine but in science did he make contributions. His scientific discovery was quite
            significant – for many (probably hundreds) of years people would wave their hands in front of their faces to "prove"
            there was nothing there. Empedocles provided solid scientific proof of the existence of air as a substance, by
            inverting a vessel submerged in water and showing the bubbles coming out.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Continuing on in this theme of fours, Empedocles' cosmology proposes four indestructible elements, or "roots" as he
            calls them – again, these are fire, water, earth and air. Many chemistry textbooks will say that the ancient Greeks
            believed all matter was made from four elements. This isn't quite true, many of the pre-Socratics were monists or
            dualists, and it was Empedocles to begin the four-element theory. These "roots" combine and separate in a variety of
            ways to make all of the stuff that we are familiar with. The mechanism by which these combinations and separations
            occur is via the powers of "love" and "strife" as he calls them. Empedocles envisions a cycle: love and strife are
            imbalanced. While love has the upper hand there are combinations of the roots which give rise to life, but
            eventually strife will come to have the upper hand and separate the roots, thus plunging the world into chaos and no
            life is possible. Eventually love will retake the upper hand, and the cycle begins anew.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Empedocles also has a sort of theory of evolution. Since the combining of the "roots" are somewhat random, a wide
            array of different animals will emerge – some human heads on beasts, shoulders without arms, all manner of mutants.
            We do not see these creatures much, if ever, because the poorly adapted ones will quickly die out.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:heading {"level":1} -->
        <h2>References</h2>
        <!-- /wp:heading -->
        
        <!-- wp:paragraph -->
        <p><em>History of Western Philosophy</em> by Bertrand Russel</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p><em>History of Philosophy</em> by A. C. Grayling</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p><em>Philosophy Before Socrates</em> by Richard D McKirahan</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p><em>Library</em> by Diodorus Siculus</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p><em>On the Natural Faculties</em> by Galen</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p><em>Lives of the Eminent Philosophers</em> by Diogenes Laertius</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p><em>Metaphysics</em> by Aristotle</p>
        <!-- /wp:paragraph -->

    </main>

</body>

</html>