:root {
    --genwidth: 1000px;
    --white: white;
    --emph: #333;
    --black: black;
    --bordercolor: #555;
    --limish: #0e0;
    --jacksonpurple: #1e2f97;
    --pictonblue: #1aa7ec;
    --viking: #4adede;
    --cornflowerblue: #797ef6;
    --cornflower: #95d2f4;
    --harvestgold: #d88d0e;
    --americansilver: #cecece;
    --spanishgrey: #999999;
    --gainsboro: #e4d4dc;
    --queenpink: #e5c7d7;
    --piggypink: #f2dae6;
    --pinklavender: #d1b6c4;
    --silverpink: #c3a1b2;
    --operamauve: #b68ba0;
    --mountbattenpink: #a8758e;
    --twilightlavender: #83526b;
    --purpletaupe: #573747;
    --lenurple: #c09adb;
    --parrotpink: #dba09a;
    --grannysmithapple: #b5db9a;
    --teagreen: #d1eac0;
    --palerobineggblue: #9ad6db;
    --raisinblack: #212121;
    --darkcarcoal: #303030;
    --vividpurple: #6a0fe8;
    --countrycream: #f3eed8;
    --bonecream: #e7dccd;
    --headingone: var(--black);
    --headingtwo: var(--black);
    --headingthree: var(--black);
    --headingfour: var(--black);
    --links: var(--pictonblue);
    --hoverlink: var(--vividpurple);
    --dropshadow: rgba(0, 0, 0, 0.2);
    --maintext: Var(--darkcarcoal);
    --mainboxbackground: var(--countrycream);
    --subboxnav: var(--countrycream);
    --background: var(--white)
}

body {
    background: var(--background);
}

.aligncenter {
    text-align: center;
}

main {
    margin: auto;
    color: var(--maintext);
    background: var(--background);
    padding: 1em;
    border-radius: 20px;
    overflow: visible;
}

.navbar {
    background-color: var(--white);
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--black);
}

.navbar-fixed-top {
    position: sticky;
    top: 0
}


.small-img {
    max-width: 1em;
    max-height: 1em;
}



.navbar-left {
    flex: 1;
    align-items: center;
    min-width: 0;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.navbar-right {
    flex: 1;
    align-items: center;
    min-width: 0;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 25px;
}

.left-bar {
    width: 250px;
    /* adjust width as needed */
    height: 100%;
}

.left-bar ul {
    padding: 0;
    margin: 0;
    list-style-type: None;
    color: var(--vividpurple)
}

.left-bar a {
    color: black;
}


.right-bar {
    width: 200px;
    /* adjust width as needed */
    height: 100%;
}

.centre-content {
    flex-grow: 1;

}

blockquote {
    font-style: italic;
}

ul {
    margin-left: 20px;
    margin-right: 20px;
}


h1,
h2,
h3,
h4 {
    font-family: "EB Garamond", Garamond, Serif;
    text-align: center;
    /* text-shadow: 1px 1px var(--emph); */
    font-weight: normal;

}

h1 {
    color: var(--headingone);
}

h2 {
    color: var(--headingtwo);
    text-decoration: underline;
}

h3 {
    color: var(--headingthree);
    text-decoration: underline;
}

h4 {
    color: var(--headingfour);
    font-style: italic;
}

a {
    color: var(--links);
    text-decoration: none;
}

a:hover {
    color: var(--hoverlink);
}

.no-underline {
    text-decoration: none;
}

.black-links {
    color: black;
}

.resright,
.resmid {
    display: block;
    margin: auto;
    max-width: 90%;
    max-height: 300px;
}