<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Towards a Definition of Art</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
</head>

<body>
    <header>
        <h1>Towards a Definition of Art</h1>
    </header>

    {% include "utils/nav" %}

    <main>
        <!-- wp:paragraph -->
        <p>In the <a href="/portals/philosophy/what-can-we-know">last post</a> we discussed some of the
            things we might be able to know. In this post we will begin to work towards a definition of art, which is something
            I have been personally struggling with for some time. This work is still in its early stages, so I hope you will
            forgive me if there are mistakes in my thought.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>I recently read <em>Aesthetics: An Introduction to the Philosophy of Art</em> by Anne Sheppard, which had the
            unfortunate (or maybe fortunate?) quality of leaving me with more questions than answers. Each of the ten chapters
            dealt with one possible interpretation of what it means to be art; in each one Sheppard ruins the theory. Darn. So
            can we begin to answer this question?</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Looking back to the last article then, we can begin not with what art is but what truth is. We covered two kinds of
            truth: rational and empirical. Rational truths we can know quite literally before the universe begins; they are true
            in the abstract and can not be any other way. Empirical truths, on the other hand, are measurements about this
            specific universe, they can only be approximated, and the statements are hypothetical; they could be true or false.
        </p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Art the, is something that gets at another kind of truth: metaphorical truth. Metaphorical truth isn't necessarily
            understood in the same manner as the other two, it scratches below the surface of what it means to be human. It is a
            truth to use, to each of us individually. Metaphorical truth tells us something about our relationship with
            ourselves, each other, God and nature. </p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>This, I believe, forms a tirade of truths: rational, empirical and metaphorical. Only an understanding of all three
            can bring true knowledge of the full workings of the world.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Metaphorical truth is harder to grasp than the other two. I think it can be best described by some of the great
            literary works, some of them are so true that they couldn't have actually happened. <em>Crime and Punishment</em> is
            quite like this; Raskolnikov is perhaps more human than any of us (or perhaps less human than any real human could
            ever be). At any rate, Raskolnikov represents what happens to each of us, spiritually, if the "atheist archetype" is
            taken to its highest pitch.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Metaphorical truths often cause the artist to become elated, and transposed into more than a human while they are
            being made. An example of this is when Luciano Pavarotti performs <em>Nessun Dorma</em> in The Three Tenors concert,
            1994. You can see on his face by the end of the performance that he is transformed, we could say he even died and is
            born a new man. Even he can not believe what he has done, what he has become. He sings, perhaps, not as man, but as
            god.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>This is one of my shorter works, because my thoughts on this are still in infancy. I would love to hear what you
            think so I can continue to develop my thinking on this subject.</p>
        <!-- /wp:paragraph -->

    </main>

</body>

</html>