<!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Toolbox</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    </head>

    <body>
        <header>
            <h1>Toolbox</h1>
        </header>
        {% include "utils/nav" %}
        <main>
            <div class="blog-container">
                <div class="blog-card">
                    <a href="/toolbox/geodesics"
                        class="no-underline black-links">
                        <div class="card-body">
                            <div>
                                Geodesics Converter 🌍
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </main>

    </body>