<!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Kinematics</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

        <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    </head>

    <body>
        <header>
            <h1>Kinematics</h1>
        </header>

        {% include "utils/nav" %}

        <main>
            <p style="display:none">
                \(
                \newcommand{\colvec}[1]{\begin{pmatrix}#1\end{pmatrix}}
                \)
            </p>

            <p>Kinematics is the study of motion in space that is realised in
                the
                course of time. The crucial difference between kinematics and
                dynamics is that kinematics does not consider the physical laws
                of
                motion. This may seem strange at first to consider motion apart
                from
                its physical laws, but it makes absolute sense. At any rate, we
                will
                proceed with a general overview of kinematics and solve some
                problems related to it.</p>

            <p>At any rate, let us begin the study of kinematics. The first
                place to
                begin is that, from some simple experiments, it is possible to
                infer
                a general rule of motion: objects always free fall at the same
                rate,
                independent of their shape, size and mass. The effect of air
                resistance can mask this fundamental truth by producing a
                different
                kind of force, but we will not consider that in this part. We
                will
                only consider motions made without air resistance. Under such
                conditions, a body will fall in a special way. If it falls \(c\)
                distance in the first unit of time, it will fall \(3c\) distance
                in
                the second unit of time, \(5c\) distance in the third unit of
                time
                and so on. The consequence of this is that if you take the
                coefficients and add them up, an interesting pattern emerges.
                \(1\), \(1+3=4\), \(1+3+5=9\). It forms, in other words, the
                perfect
                squares! This is an amazing result if you consider it.
            </p>

            <p>Now, we will definitely want to encode this knowledge into some
                sort
                of equation, so if we do that we obtain
            </p>

            <p>\[s = ct^2\]</p>

            <p>where \(s\) is the total distance travelled and \(t\) is some
                time.
            </p>

            <p>The point here is through only elementary experimentation and
                some
                simple reasoning, we have been able to identify a physical
                equation that describes the motion of objects, without us having
                to
                worry about the details of how or why gravity causes these
                objects to move in the first place. This is the core of
                kinematics.
            </p>

            <p>
                After that little introduction, let's move onto, derive and
                understand the classic SUVAT equations. Any physicist will use
                these
                pretty much for their entire career. Consider the very naive
                (but true!) equation.
            </p>

            <p>\[v = \frac{d}{t}\]</p>

            <p>where \(v\) is average speed, \(d\) is distance and \(t\) is
                time.
                Consider a body moving while accelerating. At time \(t\) it will
                have position \(s(t)\), and at some later time it will have
                position
                \(s(t + \Delta t)\). If we consider this in our naive equation,
                we can see very easily that a more sophisticated equation for
                average speed is given by
            </p>

            <p>\[v = \frac{s(t + \Delta t) - s(t)}{\Delta t}\]</p>

            <p>Why don't we try plugging in our equation \(s = ct^2\) into what
                we
                just derived?
            </p>

            <p>\[s(t + \Delta t) - s(t) = c(t + \Delta t)^2 - ct^2 =
                2ct \cdot \Delta t + c \Delta t^2\]
            </p>

            <p>\[v = \frac{2ct \cdot \Delta t + c \Delta t^2}{\Delta t} =
                2ct + c \Delta t\]
            </p>

            <p>Now consider that we have a \(\Delta t\) in this equation.
                What happens when we make this time step smaller and smaller?
                The two points we are considering become closer and closer
                together.
                When the time step becomes vanishingly small, the distance
                between
                the two points also becomes vanishingly small. At this point, it
                no
                longer makes sense to discuss the "average" speed over some
                time,
                since in effect virtually no time has passed. Thus, we are now
                discussing the instantaneous speed.
            </p>

            <p>\[v = 2ct\]</p>

            <p>More formally this is the calculus technique of a limit. </p>

            <p>\[\frac{ds}{dt} = \lim_{\Delta t \to 0} \left( \frac{s(t + \Delta
                t)
                - s(t)}{\Delta t} \right) = v(t) = 2ct\]
            </p>

            <p>You might think that since these equations have been derived by
                using
                \(s = ct^2\) from observing the motion of falling bodies, they
                only
                apply to falling bodies. However, this is not true. In fact,
                these
                equations hold for any system with a constant acceleration.
                There's a few ways to think about this. One is that although the
                equations were formulated by us from our intuition of falling
                bodies, the equations themselves know nothing about gravity.
                They only know about constant acceleration. Another way is to
                make
                an appeal to symmetry arguments. Although we made reference to
                objects falling "down", we can rotate the entire universe and
                have
                those objects "fall" "left" but nothing would change about the
                motion of the objects. Less abstractly, objects fall just the
                same
                in Britain as they do in Australia.
            </p>

            <h2>General SUVAT equations</h2>

            <p>Now we have the foundations of kinematics, let's derive all the
                generic SUVAT equations.
            </p>

            <p>An acceleration can be defined as a change in velocity in some
                change
                in time, which is
            </p>

            <p>\[a = \frac{v - u}{\Delta t}\]</p>

            <p>where \(a\) is acceleration, \(v\) is final velocity, \(u\)
                is initial velocity.
            </p>

            <p>A simple rearrangement of this gives</p>

            <p>\[v = u + a \Delta t\]</p>

            <p>In the previous section we used the equation \(s = ct^2\), where
                we
                were representing the total distance travelled based on an
                initial
                unit of distance. We might not always have the first unit of
                distance travelled though. Can we make this more useful?
                Yes, of course! First, consider another way to write this
                equation.
                We know from a naive equation that distance = speed \(\times\)
                time.
                What is that speed though, if the speed is changing in time?
                Working that out in detail is hard, but we can simplify this a
                lot
                by realising that no matter what complex shape the speed took,
                the total, final distance will be the <i>average</i> speed
                \(\times\) time. As an equation
            </p>

            <p>\[d = \bar{v}t\]</p>

            <p>where \(\bar{v}\) is the average speed</p>

            <p>Why does using the average speed work? Consider the following
                graph.
                This is a speed by time graph, which means the area under the
                lines
                is the distance travelled in each case. Try calculating the area
                under the "Linear Acceleration" line and the "Constant Velocity"
                line to convince yourself the distance travelled is constant.
            </p>

            <div>{{average_speed | safe}}</div>

            <p>Since the speed is changing though, what is the average speed?
                That is a pretty complex question in general, but we can
                simplify it
                by limiting the discussion from any arbitrary acceleration to a
                constant acceleration. In that instance, it is trivial to see
                that
                the average speed is given by \(\frac{1}{2} (u + v) \), where
                again,
                \(v\) is the final speed and \(u\) is the initial speed. Now we
                can substitute this into our naive equation and get a new
                equation
                for distance.
            </p>

            <p>\[s = \frac{1}{2}(u + v) \Delta t\]</p>

            <p>Now that we have \(v = u + a \Delta t\) and
                \(s = \frac{1}{2}(u + v) \Delta t\)
                we can try to substitute them into one another
            </p>

            <p>\[\Delta t = \frac{v - u}{a}\]</p>

            <p>\[s = \frac{1}{2}(u+v) \cdot \frac{v-u}{a} =
                \frac{(u+v)(v-u)}{2a}\]
            </p>

            <p>\[2as = (u+v)(v-u) = v^2 - u^2\]</p>

            <p>\[v^2 = u^2 + 2as\]</p>

            <p>Now, let's try substituting \(v = u + a \Delta t\) directly into
                \(s = \frac{1}{2}(u + v) \Delta t\)
            </p>

            <p>\[s = \frac{1}{2}(u+u+a \Delta t) \Delta t =
                \frac{1}{2}(2u \Delta t + a \Delta t^2)\]
            </p>

            <p>\[s = u \Delta t + \frac{1}{2} a \Delta t^2\]</p>

            <p>Now we can finally reflect on what \(s = ct^2\) really means.
                Remember, that equation was for a body which was initially at
                rest.
                What we just derived describes the same process but in a much
                more
                general form. If \(u = 0\) then \(s = \frac{1}{2} a \Delta t\).
                Compare the equations and we see that \(c = \frac{1}{2} a\)!
                This is an amazing result! I don't want to dwell on this so
                much to become pleonastic, but the distance in unit time we were
                considering in the first section was exactly equal to half the
                constant acceleration.
            </p>

            <p>Finally, let's consider substituting \(u = v - a \Delta t\) into
                \(s = \frac{1}{2}(u + v) \Delta t\). I won't write all the
                algebra
                out for this one since it proceeds along parallel lines to the
                previous derivation
                (give it a go yourself if you are not convinced!)
            </p>

            <p>\[s = v \Delta t - \frac{1}{2} a \Delta t^2\]</p>

            <h2>Summary</h2>

            <p>We can describe any motion that has linear acceleration with
                the following equations
            </p>

            <p>\[v = u + a \Delta t\]</p>

            <p>\[s = \frac{1}{2}(u + v) \Delta t\]</p>

            <p>\[v^2 = u^2 + 2as\]</p>

            <p>\[s = u \Delta t + \frac{1}{2} a \Delta t^2\]</p>

            <p>\[s = v \Delta t - \frac{1}{2} a \Delta t^2\]</p>

            <h2>Examples</h2>

            <p>Let's try a few examples to be sure we understand the
                concepts</p>

            <p>Consider dropping a ball from a height of \(100m\),
                with no starting velocity. How long will it take to first hit
                the
                floor? How fast will it be travelling just before it hits the
                ground?
            </p>

            <p>First, assume the ball is on earth, so the acceleration will be a
                constant \(9.81 ms^{-2}\) downward.
            </p>

            <p>Let's fill out the variables we know and don't know so far</p>

            <p>\[a = 9.81ms^{-2}\]</p>

            <p>\[s = 100m\]</p>

            <p>\[u = 0ms^{-1}\]</p>

            <p>\[v = ?\]</p>

            <p>\[t = ?\]</p>

            <p>We need to find \(v\) and \(t\).
                Using \(s = u \Delta t + \frac{1}{2} a \Delta t^2\)
                to find the time. Since \(u = 0ms^{-1}\)
            </p>

            <p>\[s = \frac{1}{2} a \Delta t^2\]</p>

            <p>A simple rearrangement gives</p>

            <p>\[\Delta t = \sqrt{\frac{2s}{a}} = \sqrt{\frac{200}{9.81}} =
                4.51s\]
            </p>

            <p>We can now use \(v^2 = u^2 + 2as\) to find the final velocity</p>

            <p>\[v = \sqrt{2as} = \sqrt{2 \times 9.81 \times 100} =
                \sqrt{1962} = 44.29ms^{-1}\]
            </p>

            <p>Now for another problem. Two cars are driving, with one starting
                \(500m\) behind the other. Both cars are travelling at
                \(27ms^{-1}\). On an infinite straight road, how much linear
                acceleration must the rear car experience to overtake the front
                car in 30 seconds? How fast will it be travelling when it does?
            </p>

            <p>Now, this problem is a little trickier. The front car experiences
                no
                acceleration, so calculating its distance travelled in 30
                seconds is
                trivial - \(s = vt = 27 \times 30 = 810m\).
                The second car must travel this distance plus 500 metres in 30
                seconds. We can use \(s = u \Delta t + \frac{1}{2} a \Delta
                t^2\)
                again.
            </p>

            <p>\[s - u \Delta t = \frac{1}{2} a \Delta t^2\]</p>

            <p>\[a = \frac{2}{\Delta t^2}(s - u \Delta t) =
                \frac{2}{30^2}(1310 - 27 \times 30) = 1.11ms^{-2}\]
            </p>

            <p>We can use \(v = u + a \Delta t\) to calculate the final velocity
                now
                simply as \(v = 27 + 1.11 \times 30 = 60.3ms^{-1}\).
                That's about 135 miles per hour!
            </p>

            <h2>Projectiles and Vectors</h2>

            <p>Up until now we have considered motion only in one direction.
                What about two dimension motion?
                Let's consider a person throwing a ball at an angle.
                As you probably know, balls thrown like this form arcs in the
                air.
                They also travel up and down and also forward. Let's first
                consider
                a totally generalised problem.
            </p>

            <p>A ball is thrown with some velocity. How far will it travel, how
                high
                will it get, how long will it be in the air, and what
                is its final velocity?
            </p>

            <p>Since we want to keep this totally general, let's use vectors and
                write out what we know
            </p>

            <p>\[\vec{u} = \colvec{u_x\\u_y}\]</p>

            <p>\[\vec{a} = \colvec{0\\-g}\]</p>

            <p>\[\vec{v} = \colvec{?\\?}\]</p>

            <p>\[\vec{s} = \colvec{?\\?}\]</p>

            <p>\[\Delta t = ?\]</p>

            <p>The arrow on top of letters like this \(\vec{a}\) indicates a
                vector
                - this is a collection of values which describe a space.
                In this instance, a two dimensional space needs two values,
                hence the vectors \(\colvec{u_x\\u_y}\).
                The convention I will follow is the top value represents the
                left-right direction, or \(x\) direction and the bottom value
                represents the up-down direction or \(y\) direction.
                I have chosen to define right and up as the positive direction.
                You can choose any axis you like, as long as you
                stay consistent.
            </p>

            <p>There's a lot going on now, so the easiest place to start is to
                get
                the time of flight. The vectors themselves are suggestive of an
                important point to note - the \(x\) and \(y\) directions are
                independent. In other words, we can consider the up-down motion
                totally independently of the left-right motion. Let's consider
                the
                time of flight. The ball will stop when it hits the ground,
                and we can reason that we can obtain this time as the time it
                takes
                for the ball to rise to its maximum height and fall to the
                ground again.
            </p>

            <p>Therefore, we can use \(v = u + a \Delta t\) with setting \(v =
                0\)
                to get the time to reach the highest point. We must be careful
                to take the variables happening in the \(y\) direction only.
            </p>

            <p>\[0 = u_y + a \Delta t\]</p>

            <p>\[\frac{-u_y}{a} = \Delta t = \frac{-u_y}{-g} =
                \Delta t = \frac{u_y}{g}\]
            </p>

            <p>That is the time to reach the highest point, the time to fall
                again
                will be exactly equal. In other words, the total time of
                flight is \(\frac{2u_y}{g}\). This is an important result, as it
                lets us calculate everything else. Now is a good time for us to
                really use the vectors. Let's find the distances travelled.
                If we use the equation \(s = u \Delta t + \frac{1}{2}a \Delta
                t^2\)
                we can find the distances.
            </p>

            <p>\[\colvec{s_x\\s_y} = \colvec{u_x\\u_y} \frac{u_y}{g} +
                \frac{1}{2} \colvec{0\\-g} \left( \frac{2u_y}{g} \right)^2\]</p>

            <p>Notice how I have written out the full vectors and placed them
                into
                the equation. The same physical law applies to both the
                \(x\) and \(y\) direction, only the numbers change.
                We don't need to do anything but read off the values of \(s_x\)
                and \(s_y\).
            </p>

            <p>\[s_x = \frac{2u_x u_y}{g}\]</p>

            <p>\[s_y = \frac{2u_y^2}{g} - \frac{1}{2} g \frac{4u_y^2}{g^2} =
                \frac{2u_y^2}{g} - \frac{2u_y^2}{g} = 0\]
            </p>

            <p>First, don't get confused that the \(u_y\) and \(-g\) are on the
                bottom - these are not fractions! These still multiply when
                you convert them into equations. Second, the 0 result for
                \(s_y\)
                might surprise you, after all the ball will move up and
                down. However, you need to consider the difference between
                <i>distance</i> and <i>displacement</i>. Up until now, we've
                been a little loose about them, but they are subtly different.
                Distance is how far something travels in total. Displacement
                is how far something travels from the starting location.
                Although the ball will be in physically in a different location
                when it lands, from the perspective of the \(y\) direction it
                will
                be at the same height. Hence, over the whole operation
                there is no displacement in the \(y\) direction.
            </p>

            <p>We still want to find the maximum height of the projectile
                though,
                and we can use \(s = u \Delta t + \frac{1}{2}a \Delta t^2\)
                but this time with \(\Delta t = \frac{u_y}{g}\).
            </p>

            <p>\[s_y^\prime = \frac{u_y^2}{g} - \frac{1}{2} g \frac{u_y^2}{g^2}
                =
                \frac{u_y^2}{g} - \frac{1}{2} \frac{u_y^2}{g} =
                \frac{1}{2} \frac{u_y^2}{g}\]
            </p>

            <p>I use \(s_y^\prime\) to indicate this maximum height.</p>

            <p>All we need to find now is the final velocity of the ball.
                We can use \(v^2 = u^2 + 2as\) to find this.
            </p>

            <p>\[\colvec{v_x^2\\v_y^2} =
                \colvec{u_x^2\\u_y^2} + 2 \colvec{0\\-g} \colvec{s_x\\s_y}\]
            </p>

            <p>We already have an expression for \(s_x\) but I won't substitute
                that
                till the end for clarity. Let's place 0 in for \(s_y\) though.
            </p>

            <p>\[\colvec{v_x^2\\v_y^2} =
                \colvec{u_x^2\\u_y^2} + 2 \colvec{0\\-g} \colvec{s_x\\s_y}\]
            </p>

            <p>Solving for \(v_x\) first:</p>

            <p>\[v_x^2 = u_x^2\]</p>

            <p>\[v_x = \pm u_x\]</p>

            <p>The 0 in the second term cancels it out</p>

            <p>Now solving for \(v_y\):</p>

            <p>\[v_y^2 = u_y^2\]</p>

            <p>\[v_y = \pm u_y\]</p>

            <p>There's an amazing symmetry to this problem! The final an initial
                velocities are the same in magnitude to the start velocities.
                We need to sort those plus-minus signs out though. Consider the
                \(x\) direction first. The ball is thrown in the positive
                direction
                and there's no reason to think that it changed direction. In
                fact,
                it will still be moving at exactly the same speed in this
                direction.
                So the solution here is \(v_x = u_x\). Now, consider the \(y\)
                direction. There are two places where \(s_y=0\),
                at the very beginning (where the positive \(v_y = u_y\))
                is satisfied. The other is right at the end, where the
                \(v_y = -u_y\) is relevant - just think, it will be
                falling down at this point.
            </p>

            <p>We have now solved the many aspects of this problem, to
                summarise:
            </p>

            <p>\[\vec{u} = \colvec{u_x\\u_y}\]</p>

            <p>\[\vec{a} = \colvec{0\\-g}\]</p>

            <p>\[\vec{v} = \colvec{u_x\\-u_y}\]</p>

            <p>\[\vec{s} = \colvec{\frac{2 u_x u_y}{g}\\0}\]</p>

            <p>\[\Delta t = \frac{2u_y}{g}\]</p>

            <p>\[s_y^\prime = \frac{1}{2} \frac{u_y^2}{g}\]</p>

            <p>Let's plug in some numbers. For this example, let's say that
                \(u_x = u_y = 10ms^{-1}\). In other words, the ball is thrown
                at a 45&#176 angle at a total velocity of \(14.14ms^{-1}\).
                We will of course use \(g=9.81ms^{-2}\).
            </p>

            <p>\[\vec{u} = \colvec{10ms^{-1}\\10ms^{-1}}\]</p>

            <p>\[\vec{a} = \colvec{0ms^{-2}\\-9.81ms^{-2}}\]</p>

            <p>\[\vec{v} = \colvec{10ms^{-1}\\-10ms^{-1}}\]</p>

            <p>\[\vec{s} = \colvec{\frac{2 \times 10 \times 10}{9.81}\\0} =
                \colvec{20.39m\\0m}\]</p>

            <p>\[\Delta t = \frac{2u_y}{g} = \frac{2 \times 10}{9.81} =
                2.04s\]</p>

            <p>\[s_y^\prime = \frac{1}{2} \frac{10^2}{9.81} = 5.10m\]</p>

            <p>Below you can see a plot of this:</p>

            <div>{{projectile | safe}}</div>

            <p>Try reading key places off the graph to confirm it works</p>

        </main>

        <script src="/js/highlight/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>

    </body>

</html>