<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Part 7: Socrates</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
</head>

<body>
    <header>
        <h1>The Trails and Death of Socrates</h1>
    </header>

    {% include "utils/nav" %}

    <main>
        {% include "blog/humanities/philosophy/pre_socratics/presocratic_nav"%}



        <!-- wp:paragraph -->
        <p>Socrates is perhaps one of the most important philosophers of all time. Indeed, we group the philosophers before him
            into the Pre-Socratics. Despite being of such importance to us, Socrates was put on trail and executed by the state
            of Athens. Perhaps they could not see the important contribution to philosophy he was making, or perhaps they could,
            and that was inconvenient. We will be delving into the arguments presented soon. But there were at least some people
            who understood how important Socrates was at the time, he had many friends, including Plato, who was the one who
            wrote down the dialogues we will be looking at today. We will be looking at three dialogues – Euthyphro, Socrates'
            Defence and Crito. Euthyphro takes place before the trail, Socrates' Defence is the legal defence Socrates gives of
            himself, and Crito takes place after the trail while Socrates waits to be executed. The trouble with studying
            Socrates is that he never wrote anything down – it was all recorded by Plato. It is debated to what extent Plato
            aimed to accurately record the events and how much he was using "Socrates" as a character to express his own
            thoughts.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>So why is this of such interest to us? Before the dialogues of Socrates, we don't actually have a large catalogue of
            philosophic texts available. The texts we do have are often written in the form of poems, which is problematic,
            since there is a large scope for interpretation in that medium. Therefore, we are often not sure what they meant
            exactly. Not so with the Socratic dialogue. We know exactly what they are trying to argue. Actually, the dialogue
            remained popular for some time, and I wish that more works were written in this style today; even if the dialogue is
            fictional. Socrates also changed the primary concern of philosophy. Before him, philosophers were mainly concerned
            with metaphysics, that is, understanding the fundamental nature of things. Socrates was much more concerned with who
            is wise, what is justice, what is the right kind of way to live - a very human philosopher.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>As a background to Socrates, he spent a lot of time in public talking to people. Indeed he seemed to spend most of
            his time talking to people, and specifically asking them questions. Even during the face of adversity Socrates
            spends much of his time asking questions. It was this inquisitive nature that gets him in trouble though. Moreover,
            Athens has just lost a war with Sparta, and a new elite is in power in Athens. An elite that is not very friendly
            towards democracy, that Socrates often argued for. This could be easily seen as a politically motivated trail – the
            execution is a foregone conclusion and the trail nothing more than a formality to keep up appearances of due
            process.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:heading {"level":1} -->
        <h2 id="euthyphro">Euthyphro</h2>
        <!-- /wp:heading -->
        
        <!-- wp:paragraph -->
        <p>Socrates meets Euthyphro outside the legal courts. This dialogue is in essence a discussion of what is meant by
            justice. Both men are there because of a suit – Socrates has been indicted and Euthyphro is bringing a case against
            none other than his father. Socrates explains that he has been indicted because of his speech; he often spends time
            talking to people and asking questions in public, and this has been misconstrued as impiety. Euthyphro sympathises
            with Socrates, stating that when he has spoken in a similar manner to Socrates he has been ridiculed in the past.
            Euthyphro is probably a philosopher like Socrates.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>The case that Euthyphro is bringing against his father is (according to Euthyphro) thus: Euthyphro had some labourers
            on a farm. This man became drunk and murdered someone. Euthyphro's father bound this man's arms and legs and threw
            him in a ditch while he consulted as to what to do with him. During this time, Euthyphro's father neglected the man
            and he died of hunger and cold, and thus Euthyphro's father murdered him too.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Euthyphro's family is angry at him because he is prosecuting his own father for "killing" a murder. They say that
            either Euthyphro's father didn't kill him (Euthyphro doesn't elaborate on this - maybe he means they say that
            neglect in this way is not murder, as though nature killed the man or if they outright deny the whole story) or that
            if Euthyphro's father did kill the man, nothing should come of it because the man himself was also a murderer.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Socrates is impressed by Euthyphro and asks to become his student. I think Socrates is not really that impressed (as
            the rest of the dialogue will show) but is asking this as a way to begin questioning Euthyphro. Even here outside
            the courts Socrates can not stop asking questions and uncomfortably digging into what people think. Socrates asks
            Euthyphro what is pious and what is impious, as Socrates has been charged with being impious and would like some
            guidance on how to commence his defence.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Euthyphro says he is being Pious now by taking a charge against his father. He says it does not matter that the
            person is his father or that he killed someone who is a murderer - to prosecute someone who is guilty of wrongdoing
            is a good act.Socrates says that is a good example of a pious act, but he wants Euthyphro to define a pious act.
            Euthyphro says that anything that is beloved by the Gods is pious and anything that is hated by the Gods is impious.
        </p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Nevertheless, Socrates points out that many things in Greek lore are explained by hatred between the Gods. Therefore,
            there are some things that are both loved and hated by the Gods, making those things simultaneously pious and
            impious. Socrates and Euthyphro go back and forth on this for a little while till Socrates decides that Euthyphro
            has only given him qualities of pious and impious and not defined pious and impious. This come from Socrates asking
            something is pious because the Gods love it or if the Gods love something because it is pious.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Socrates then digs a little deeper and asks about justice. Is pious and justice the same thing? Socrates is asking
            this in terms of sets - is pious a subset of justice? Is justice a subset of pious?</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>As I often find with dialogues concerning Socrates, no definite conclusion is come to. Indeed, Socrates simply asks
            Euthyphro some difficult questions and points out why he is wrong. This kind of behaviour is probably why Socrates
            became unpopular with the elite – this would certainly be embarrassing if it happened to you in public.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:heading {"level":1} -->
        <h2 id="socrates-defence">Socrates' Defence</h2>
        <!-- /wp:heading -->
        
        <!-- wp:paragraph -->
        <p>Socrates's Defence opens with Socrates speaking about what his accusers have said. Unfortunately, we do not have
            those speeches written down. However, we can gleam some of the ideas from what Socrates has said. Socrates has been
            accused of two crimes. One is impiety (here they essentially mean atheism) and the other is corrupting the youth.
            Socrates quotes the charges as</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:quote -->
        <blockquote class="wp-block-quote">
            <!-- wp:paragraph -->
            <p><em>"Socrates is guilty of meddling, of inquiring into things under the earth and in the heavens, of making the
                    weaker speech the stronger and of teaching these very things"</em></p>
            <!-- /wp:paragraph -->
        </blockquote>
        <!-- /wp:quote -->
        
        <!-- wp:paragraph -->
        <p>Now for a civilisation that considers a lot of natural phenomena to be from the Gods, as we have already discussed, a
            natural science enquiry into natural phenomena would be particularly disruptive. It is easy to see how modern
            science eventually spun out of philosophy – one must begin by asking about the nature of natural phenomena before
            one can measure such things.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>One of the foundations of Socrates' defence is him describing why he asks such difficult questions of the populace is
            because of what the Oracle said. The Oracle claims that Socrates is the wisest man in Greece, and being an Oracle of
            the Gods, she would not lie or be wrong. Yet Socrates thought himself not wise at all, so he needed to find other
            wise men to compare himself to.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Socrates first speaks to politicians who consider themselves wise; wise enough to run society. Yet, he finds they
            have no good arguments and are not wise at all. This is somewhat concerning but totally not unexpected. Then
            Socrates goes to the poets. By poets he means something closer to dramatists in the modern word, these were people
            who were writing the plays that formed a large part of Athenian culture. He found that their plays contained a lot
            of wisdom, but when he asked them about it, often found that they could not explain their own plays to him. He
            concludes that some sort of muse, perhaps from the Gods, was giving them these plays by divine inspiration. In this
            way, the poets themselves were not wise, although they could produce wise tings. Finally he speaks to the artisans,
            by which he means labourers and craftsmen. He finds they do have some wisdom. They know their trade and their craft
            very well indeed, yet ultimately they can not be considered wise men because they think they are wiser than they
            truly are. Indeed, they might be wise about carpentry or pottery, but often this makes them think they are wise
            enough to run society as a whole.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Socrates concludes that the Oracle said he was the wisest man in Greece not because he is, but as a stand in.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:quote -->
        <blockquote class="wp-block-quote">
            <!-- wp:paragraph -->
            <p><em>But in fact it's likely, gentlemen, that in truth the god is wise, and by this pronouncement he means the
                    following: human wisdom is worth little or nothing. And he appears to be taking me as an example, speaking
                    of this man Socrates, even using my name, just as if he said "Human beings, he among you is wisest who knows
                    like Socrates that he is actually worthless with respect to wisdom."</em></p>
            <!-- /wp:paragraph -->
        </blockquote>
        <!-- /wp:quote -->
        
        <!-- wp:paragraph -->
        <p>We can see though why Socrates has made so many enemies. A man coming up to you in public and denouncing you as not
            wise would be very embarrassing. We can also understand why Socrates was accused of corrupting the youth. It is not
            hard to believe that some of the young men, probably like Plato, who followed Socrates was doing something similar.
            This would be very upsetting to the political order if people really did begin to think that the politicians are not
            wise. It would be very lucrative for the politicians, then, to nip this problem in the bud.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Socrates considers the point that what he was doing was wrong because it would get him killed. He replies that the
            demi-Gods who died at Troy would have to be in the wrong: whether an action is good or bad is not dictated by the
            mere mob or public opinion or that of the state. Socrates has on overt dedication to thought, and an overt
            dedication to the self. The self is to be respected. If disrespecting the self is worse than death, then doing an
            action one knows to be wrong can itself be considered a kind of spiritual death.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Socrates was found guilty, and only by a somewhat narrow margin; smaller than he expected. In Greek law, the judges
            were to pick between the punishment suggested by the plaintiffs and the defence after the guilt was decided. The
            plaintiffs suggested death. Socrates suggests a fine of 30 minae, and also has suggestions of free food for the rest
            of his life. The judges are antagonised, and condemn him to death. The way the whole defence reads is not of a man
            trying to actually defend himself and avoid the death penalty, but rather as a thinker who is using his own death as
            one last chance to teach a magnificent lesson. On that front, thanks to the records of Plato, he has succeeded.
            Surely millions of people, maybe more, have read the defence and all books on philosophy history make some mention
            of it.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:heading {"level":1} -->
        <h2 id="crito">Crito</h2>
        <!-- /wp:heading -->
        
        <!-- wp:paragraph -->
        <p>Crito is a friend of Socrates who goes to visit Socrates while he is in jail. When Crito arrives he finds Socrates
            sleeping peacefully, so he does not wake him but instead waits till he wakes up naturally. Socrates, always
            inquisitive, asks why he did this. Crito says he was taking pity on Socrates, allowing him to sleep peacefully on
            some of his last days. Socrates says this wasn't really necessary since a man of his age should not be fearing death
            anyway. Certainly a very admirable trait for him to have. The purpose of Crito's visit soon becomes apparent.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Crito begs Socrates to escape. Socrates has many friends who are willing to help him, with the necessary money and
            means to allow him to escape to a different city and live there. Crito asks Socrates to do this for two reasons:
            one, so that he does not lose a great friend, and two, that others do not think that he refused to help Socrates.
            Socrates says he should not care about the opinion of the many; only those who think well of Crito.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>The fundamental point of this dialogue is asking if it is right to defy the state. They argue for some time but the
            final argument that Socrates makes is that of the social contract. I have written at length about <a
                href="/blog/philosophy/social-contract">social contract theory
                here</a>. Socrates describes a nanny state:</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:quote -->
        <blockquote class="wp-block-quote">
            <!-- wp:paragraph -->
            <p><em>'Answer, Socrates, instead of opening your eyes--you are in the habit of asking and answering questions. Tell
                    us,--What complaint have you to make against us which justifies you in attempting to destroy us and the
                    state? In the first place did we not bring you into existence? Your father married your mother by our aid
                    and begat you. Say whether you have any objection to urge against those of us who regulate marriage?' None,
                    I should reply. 'Or against those of us who after birth regulate the nurture and education of children, in
                    which you also were trained? Were not the laws, which have the charge of education, right in commanding your
                    father to train you in music and gymnastic?' Right, I should reply. 'Well then, since you were brought into
                    the world and nurtured and educated by us, can you deny in the first place that you are our child and slave,
                    as your fathers were before you?'</em></p>
            <!-- /wp:paragraph -->
        </blockquote>
        <!-- /wp:quote -->
        
        <!-- wp:paragraph -->
        <p>For Socrates this is a good argument. The fact that an unjust decision has been made is irrelevant – he has made this
            contract with the state and will now go willingly to his death. I think this is a total mistake – an unjust ruling
            of the state is unjust, and no amount of gas-lighting in the way Socrates imagines here will make this acceptable.
        </p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>In the end Crito has no answer for Socrates, and leaves his friend. Socrates dies by drinking poison.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:heading {"level":1} -->
        <h2 id="conclusion">Conclusion</h2>
        <!-- /wp:heading -->
        
        <!-- wp:paragraph -->
        <p>Socrates was a fascinating man, who changed the course of philosophy forever. After him, human thought was never the
            same. Although not all his arguments are good or sound, his greatest gift to us was his method. Unfortunately, he
            never wrote anything down and many philosophers have had to argue extensively about what his actual opinions are. In
            some ways, I think those trying to solve the "Socratic problem" are dancing to Socrates' tune: he would be very
            pleased that others are thinking so hard.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:heading {"level":1} -->
        <h2 id="references">References</h2>
        <!-- /wp:heading -->
        
        <!-- wp:paragraph -->
        <p><em>Socrates' Defence </em>by Plato</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p><em>Crito </em>by Plato</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p><em>Euthyphro</em> by Plato</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p><em>A History of Western Philosophy </em>by Bertrand Russel</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p><em>The History of Philosophy</em> by A. C. Grayling</p>
        <!-- /wp:paragraph -->

    </main>

</body>

</html>