<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
    <header>
        <h1>Blog</h1>
    </header>
    {% include "utils/nav" %}
    <main>
        

        {% if blog.entries %}
            {% for blog in blog.entries %}
                <p>{{ blog.date }} <a href="/blog/{{blog.slug}}">{{ blog.title }}</a> </p>
                <ul>
                    <li>
                        {% for tag in blog.tags %}
                            <a href="/blog/tag/{{ tag }}">#{{ tag }}</a>
                        {% endfor %}
                    </li>
                    <li>{{ blog.desc | safe}}</li>
                </ul>
            {% endfor %}
        {% else %}
            <p>No blog found</p>
    
        {% endif %}
    </main>

    <script src="/js/highlight/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>

</body>

