<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Basic Algebra</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=default">
    </script>
    <script type="text/x-mathjax-config"></script>
</head>

<body>
    <header>
        <h1>Basic Algebra</h1>
    </header>

    {% include "utils/nav" %}

    <main>
        <h2>Numbers</h2>

        <h3>Basic Ideas</h3>

        <p>This course isn't the place to deeply probe the philosophy of numbers,
            so we will take it as a given that they 
            exist<sup><a href="#foot1">1</a></sup> and we can use them. Most people
            are familiar with numbers, but let's go over a few basics
        </p>

        <p><i>Integers</i> are whole numbers, which can be positive, negative 
            or 0. Examples of integers include 0, 1, 3, 5, -9, -4. Let's look
            over a few rules with these numbers
        </p>

        <p>\[a + 0 = 0 + a = a - 0 = -0 + a = a\]</p>

        <p>The above statement in English more or less means "adding or 
            subtracting 0 doesn't have any affect on the value of the other
            number".
        </p>

        <p>However</p>

        <p>\[a \times 0 = 0\]</p>

        <p>Zero times any number is 0.</p>

        <p>\[1 \times a = a\]</p>

        <p>One, like 0, can be defined by its behaviour. One is the number that
            when it multiples any other number, you get the other number back.
            We now have two fixed reference points: a number that makes no
            difference when adding and a number that makes no difference
            when multiplying. The difference between these numbers is 1. Once
            0 and 1 are fixed, you can continue to add, or take away, this same
            value to get all the integers.
        </p>

        <h3>Negative Numbers</h3>

        <p>Negative numbers have some interesting properties, let's explore 
            those
        </p>

        <p>\[-a + a = 0\]</p>

        <p>In English this roughly translates to "taking a number away from 
            itself gives 0", which is another equally valid definition of 0.
        </p>

        <p>\[- (-a) = a\]</p>

        <p>In English the above more or less means "a double negative is a 
            positive". The way to think about this is that you are taking away
            negative stuff. Imagine a room with hot (positive) and cold 
            (negative) air. If you took away the cold air, it would get hotter.
        </p>

        <h3>Addition</h3>

        <p>There are a few standard addition rules you should keep in mind.</p>

        <p>\[a + b = b + a\]</p>

        <p>This is <i>commutativity</i>, which means flipping the order doesn't 
            matter.
        </p>

        <p>\[(a + b) + c = a + (b + c)\]</p>

        <p>Now we introduce brackets. Brackets are a way of telling in what
            order to do things. So, on the left hand side (LHS) of the above, 
            this is like saying "do a plus b first, then add c". The 
            right hand side (RHS) is like saying "do b plus c first, then add a".
            Due to the <i>associative</i> law, these two are the same
        </p>

        <p>With these laws, be very careful with negative numbers. A classic
            mistake is to do this
        </p>

        <p>\[a - b = b - a \text{ <- FALSE!!}\] </p>

        <p>This is not true!! The LHS is saying "a add minus b", so we need to
            bring the minus sign with us
        </p>

        <p>\[a - b = -b + a\]</p>

        <p>which is correct.</p>    

        <h3>Multiplication</h3>

        <p>Moving onto multiplication now, it also has commutative and 
            associative laws.
        </p>

        <p>\[ab = ba\]</p>
        <p>\[(ab)c = a(bc)\]</p>

        <p>You notice that these rules are analogous to addition rules. Also 
            notice here I dropped the \(\times\) sign. This is very common when 
            working with only variables. You will also often see a dot like this
            \(a \cdot b = b \cdot a\).
        </p>

        <p>There is another multiplication rule too, called <i>distribution</i>
        </p>

        <p>\[a (b + c) = ab + ac\]</p>

        <h3>Exponents</h3>

        <p>When multiplying a thing by itself many times, it might be helpful
            to have some kind of short hand.
        </p>

        <p>\[aa = a^2\]</p>
        <p>\[aaa = a^3\]</p>
        <p>\[aaaa = a^4\]</p>

        <p>This superscript is called an <i>exponent</i> or <i>power</i>. Powers
            have their own rules too, like this one
        </p>

        <p>\[(a^m)^n = a^{mn}\]</p>

        <h3>Fractions</h3>

        <p>So far we've only really explicitly considered whole numbers, namely 
            integers. We can also have bits of numbers, which we call the 
            <i>rational</i> numbers. Rational numbers have the following form
        </p>

        <p>\[\frac{m}{n}\]</p>

        <p>where \(m\) can be any integer and \(n\) can be any integer 
            <i>except</i> 0.
        </p>

        <p>An important fraction property is the following</p>

        <p>\[\frac{a}{a} = 1\]</p>

        <p>Fractions have their own rules too, the most important one is 
            <i>cancellation</i>
        </p>

        <p>\[\frac{am}{an} = \frac{m}{n}\]</p>

        <p>The most common mistake here is the following, so don't fall into it!
        </p>

        <p>\[\frac{a + m}{an} = \frac{m}{n} \text{<- FALSE!!}\]</p>

        <p>You can only cancel when the part you want to cancel is multiplying
            everything on the top and the bottom.
        </p>

        <p>One more convenience with fractions comes when dealing with negative 
            numbers. We can put the minus sign in different places
        </p>

        <p>\[\frac{-m}{n} = \frac{m}{-n} = - \frac{m}{n}\]</p>

        <p>Multiplying fractions is easy</p>

        <p>\[\frac{m}{n} \frac{a}{b} = \frac{am}{bn}\]</p>

        <p>Powers with fractions is also very easy</p>

        <p>\[\left( \frac{m}{n} \right)^a = \frac{m^a}{n^a}\]</p>

        <p>Adding fractions is not so easy however, and they can only be added 
            if the denominator is the same
        </p>

        <p>\[\frac{m}{a} + \frac{n}{a} = \frac{n + m}{a}\]</p>

        <p>What do we do if the bottoms are not the same? A very common 
            technique is to make the bottoms the same by multiplying the 
            fractions by 1 in a very unusual way.
        </p>

        <p>\[\frac{m}{n} + \frac{r}{s} = 
            \frac{s}{s} \frac{m}{n} + \frac{n}{n} \frac{r}{s} =
            \frac{sm}{ns} + \frac{nr}{ns} = \frac{sm + nr}{ns}\]
        </p>

        <p>Remember that if the top and bottom of a fraction are the same the
            value is 1, and multiplying by 1 makes no difference. We are not
            changing the values of the fractions, so we're free to do this. It 
            does help us get the fractions into an easier form to deal with.
            Hold onto this idea of getting things into an easier form - it's
            a really core idea for a lot of mathematics.
        </p>

        <h3>Solving Statements</h3>

        <h3>Putting it all together</h3>

        <h2>Linear Equations</h2>

        <p>Up until now, when solving algebra equations, we've mostly worked 
            with equations that only have one unknown. Therefore, we were able 
            to find that unknown value. Equations have more than one unknown, 
            and can not necessarily be solved for a particular value. Instead 
            we need to think of them visually. Let's consider the following 
            equation with two unknowns
        </p>

        <p>\[y = 3x + 2\]</p>

        <div>{{y3x2 | safe}}</div>

        <p>Looking at this graph, we can see this defines a straight line. 
            This is what we mean by a linear equation. Linear equations have the
            following general form
        </p>

        <p>\[y = mx + c\]</p>

        <p>The \(c\) can be thought of as the <i>intersect</i>. This is the 
            point where the line crosses the y-axis. In our example \(c=2\) and 
            the line does cross the y-axis at 2. If \(c\) was negative it would
            cross the y-axis below the x-axis.
        </p>

        <p>\(m\) is often called the <i>gradient</i> or <i>slope</i>. This is 
            the steepness of the line. A larger slope means a steeper line. A 
            negative slope means the line points in the opposite direction. A 
            slope of 0 is a flat, horizontal line. A slop of infinity is a
            vertical line.
        </p>

        <p>Let's say that you are given the following two pieces of information.
            A line has value \(y=-10\) when \(x=1\) and \(y=-2\) when \(x=-1\).
            Can we make the straight line equation for this line?
        </p>

        <p>First, let's find the slope. Slope can be thought of the change in 
            height over the change in length. So in our case, the height goes 
            from -2 to -10, when the length goes from -1 to 1.
        </p>

        <p>\[\frac{-10 - - 2}{1 - - 1} = \frac{-8}{2} = -4\]</p>

        <p>So, we already have \(y = -4x + c\). Now to find the \(c\) we simply
            use what we've already been given. At \(x=1, y=-10\)
        </p>

        <p>\[-10 = -4 + c\]</p>
        <p>\[c = - 6\]</p>

        <p>So the full line equation is \(y = -4x - 6\), which is graphed as
        </p>

        <div>{{ym4xm6 | safe}}</div>

        <h2>Simultaneous Equations</h2>

        <p>We already looked at linear equations. Remember how with one unknown,
            we could find its value? And with two unknowns and one equation, we
            couldn't find a unique value, but could graph a range of possible
            solutions? What about when we have two unkowns and two equations?
            Imagine we have the following two equations.
        </p>

        <p>\[y = 2x + 2, y = -2x + 3\]</p>

        <p>Visually this is</p>

        <div>{{basic_simul | safe}}</div>

        <p>We can think of this as trying to find the values of the point 
            where they cross. Simultaneous equations can only have a real 
            solution if the lines do in fact cross.
        </p>

        <p>We can solve these equations like this.</p>

        <p>\[2x + 2 = -2x + 3\]</p>
        <p>\[4x = 1\]</p>
        <p>\[x = \frac{1}{4}\]</p>

        <p>\[y = 2 \frac{1}{4} + 2 = 2.5\]</p>

        <p>There are many ways to solve simultaneous equations, which you will
            explore in the workshop.
        </p>

        <h2>Real Numbers</h2>

        <p>Until now, we've worked only with numbers that are rational. That is,
            they can be written down fully as a fraction or a decimal. However, 
            not all numbers are like this. Many useful numbers can not be ever
            fully represented as a fraction or a decimal. Some examples include
        </p>

        <p>\[\sqrt{2}, \sqrt{5}, \pi\]</p>

        <h2>Footnotes</h2>

        <p id="foot1">1. Don't worry about what "exists" means in this context</p>

    </main>

</body>

</html>