<nav>
    <ul>
        <a href="/">
            <li>🏠 Home</li>
        </a>
        <a href="/blog">
            <li>📜 Blog</li>
        </a>
        <a href="/toolbox">
            <li>🧰 Toolbox</li>
        </a>
    </ul>
</nav>