<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Science and Maths</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header>
        <h1>Courses</h1>
    </header>

    {% include "utils/nav" %}

    <main>

        <p>These courses should expand in future, and new ones will be added all the time.</p>

        <h2>Basic Physics</h2>
        <p>Introductory physics material. Will need a basic understanding of calculus for these
            posts, but nothing beyond a comprehensive school level. This course
            is still under development, and is subject to change
        </p>
        <ol>
            <li><a href="/courses/science/basic-physics/kinematics">Kinematics</a></li>
            <li><a href="/courses/science/basic-physics/dynamics">Dynamics</a></li>
            <li><a href="/courses/science/basic-physics/fields">Fields</a></li>
            <li><a href="/courses/science/basic-physics/rotation">Rotation</a></li>
            <li><a href="/courses/science/basic-physics/oscillations">Oscillations and Waves</a></li>
            <li><a href="/courses/science/basic-physics/circuits">Circuits</a></li>
            <li><a href="/courses/science/basic-physics/thermal">Thermal Physics</a></li>
        </ol>

        <hr>

        <h2>Basic Mathematics</h2>
        <p>Introductory mathematics course, for absolute beginners. This course
            is still under development, and is subject to change
        </p>

        <ol>
            <li><a href="/courses/mathematics/basic-maths/numbers">Numbers</a></li>
            <li><a href="/courses/mathematics/basic-maths/linear-equations">Linear Equations</a></li>
            <li><a href="/courses/mathematics/basic-maths/quadratic-equations">Quadratic Equations</a></li>
            <li><a href="/courses/mathematics/basic-maths/distances-and-angles">Distance and Angles</a></li>
            <li><a href="/courses/mathematics/basic-maths/angles-parallel">Angles on Parallel Lines</a></li>
            <li><a href="/courses/mathematics/basic-maths/area">Area</a></li>
            <li><a href="/courses/mathematics/basic-maths/coordinates">Coordinates</a></li>
            <li><a href="/courses/mathematics/basic-maths/trigonometry">Trigonometry</a></li>
            <li><a href="/courses/mathematics/basic-maths/complex-numbers">Complex Numbers</a></li>
        </ol>

        <hr>

        <h2>Kalman Filters</h2>
        <p>Assorted Kalman filter course</p>

        <ol>
            <li><a href="/courses/kalman-filters/introduction">Introduction to the Course</a></li>
            <li><a href="/courses/kalman-filters/falling">Kalman Filtering a Falling Object</a></li>
            <li><a href="/courses/kalman-filters/constant-velocity">Tracking an Object with Constant Velocity</a></li>
            <li><a href="/courses/kalman-filters/notation">Unravelling Kalman Filter Notation</a></li>
        </ol>


    </main>

</body>

</html>