<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Comments on the War That Will End War</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
</head>

<body>
    <header>
        <h1>Comments on the War That Will End War</h1>
    </header>

    {% include "utils/nav" %}

    <main>
        <!-- wp:paragraph -->
        <p>At the dawn of the First World War, H. G. Wells wrote this fascinating little work. The work is in some ways meant to
            be a description of the way in which the Great War would bring about an end to human desire for war. However, as
            political theory from James Burnham will tell us, we must never mistake the formal meaning of a text for its real
            meaning. The real meaning of <em>The War That Will End War</em> is a plea from Wells to Woodrow Wilson.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Wells begins by summarising the reasons Britain has gone to war. Wells states that the cause and object of the war
            are not necessarily the same; he asserts the cause is the invasion of Luxemburg and Belgium, countries to which
            Britain had a treaty to defend. Perhaps this is far too simple an analysis of the causes of the Great War. Wells
            leaves out details of the Triple Entent and the Triple Alliance, the situations in the Balkans (including, of
            course, the assassination of Archduke Franz Ferdinand), the Scramble for Africa and a general arms race.
            Nevertheless, written from a purely Anglo perspective, one could argue the invasion of the Low Countries was perhaps
            the only strictly relevant immediate factor for Britain entering the war.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Wells turns his attention to the object of the war, that is, its overall goal. He says Britain can not simply send
            Germany back over the border and tell them to not do it again. The concept of Pax Britannica becomes relevant to
            Wells’ argument – he declares that this grand, global empire must be involved in bringing about peace. In fact, he
            pulls no punches here with his desire to see the war through – "There can be no diplomatic settlement that will
            leave German Imperialism free to explain away its failure to its people and start new preparations. We have to go on
            until we are absolutely done for, or until the Germans as a people know that they are beaten, and are convinced that
            they have had enough of war".</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Perhaps most distinctly, Wells wanted all nations, even those that did not fire a single shot during the war to
            involved in the peace process: especially the United States. Wells believed that under Woodrow Wilson the United
            States could become a global arbiter of peace, and called for the founding of an international peace league to
            manage these goals of his.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Wells wishes for several things that seem almost out of line. For one, he wishes for England to redraw the map of
            Europe following their victory of the Great War. Wells has no doubt that England would eventually win the war. In
            this centralised redesign of the continental map, Wells wanted many changes to the map of Europe. For a start, he
            wished for Lorraine to rejoin France, and for Luxembourg to be "linked in a closer union with Belgium". Alsace a
            choice between entering France or Switzerland. Denmark to regain its lost provinces. Trieste, Trent and Pola to
            Italy. These, however, are minor developments. Eastern Europe is where the maps will be radically redrawn.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>First, Wells wishes for the breakup of the Austria-Hungarian Empire, which has hung over Europe for forty years. From
            this, the three fragments of Poland reunited to give the Poles a homeland. The Tsar of Russia would be crowned the
            King of Poland. He also proposed a larger Romania including the provinces from Transylvania, in a Swiss federation
            style. He also wishes to bring the Bulgarian speaking peoples under one flag and create some Swiss style federations
            in the Balkans.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>One can not help but notice immediately that the plans of Wells for the map of Europe benefits larger and larger
            states, and creates more states that attempt to integrate several nationalities into one. The only nations it does
            not benefit are Germany and Austria-Hungary Empire (which he wants to see the total end of). Indeed, a common theme
            seen among the English liberals of Wells’ type is not liberty as one might understand being left alone but liberty
            through the mechanisms of ever larger states. Indeed, his desires for ever more powerful super-national powers such
            as a League of Nations hints for a desire for a one world nation. Such concepts will always fail to bring about a
            more peaceful and free world – as Rothbard commentates on states and power in <em>Anatomy of the State</em> that
            states (and this, of course, extends to state like institutions) have a tendency to expand in power and transcend
            the limits of their own power.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:quote -->
        <blockquote class="wp-block-quote">
            <!-- wp:paragraph -->
            <p><em>The opportunity of Liberalism has come at last, an overwhelming opportunity. The age of militarism has rushed
                    to its inevitable and yet surprising climax. The great soldier empire, made for war, which has dominated
                    Europe for forty years has pulled itself up by the roots and flung itself into the struggle for which it was
                    made. Whether it win or lose, it will never put itself back again</em></p>
            <!-- /wp:paragraph -->
        </blockquote>
        <!-- /wp:quote -->
        
        <!-- wp:paragraph -->
        <p>In some ways, Wells reminds me of Plato. He has been surrounded by instability and war for so long he sees a
            “liberation” from all this in the face of super powerful states. Plato wished for what can only be called a police
            state, a very illiberal nation, but a nation of security. Why was Plato so concerned with security? He had witnessed
            the Peloponnesian wars and the brutality that Sparta committed on Athens. Bertrand Russel rips apart these political
            ideas of Plato in <em>A History of Western Philosophy</em>. Russel says</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:quote -->
        <blockquote class="wp-block-quote">
            <!-- wp:paragraph -->
            <p><em>Plato possessed the art to dress up illiberal suggestions in such a way that they deceived future ages, which
                    admired the Republic without ever becoming aware of what was involved in its proposals. It has always been
                    correct to praise Plato, but not to understand him. This is the common fate of great men. My object is the
                    opposite. I wish to understand him, but to treat him with as little reverence as if he were a contemporary
                    English or American advocate of totalitarianism.</em></p>
            <!-- /wp:paragraph -->
        </blockquote>
        <!-- /wp:quote -->
        
        <!-- wp:paragraph -->
        <p>At any rate, the trust Wells places in organisations seems to me to not be the mark of a liberal per se, but either a
            totalitarian or someone so naive they should not be trusted.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Wells not only has suggestions for the future but critiques of the present, specifically of the capitalist system in
            Britain.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:quote -->
        <blockquote class="wp-block-quote">
            <!-- wp:paragraph -->
            <p><em>And next, as to social reconstruction. Do Liberals realise that the individualist capitalist system is
                    helpless now? It may be picked up unresistingly. It is stunned. A new economic order may be improvised and
                    probably will in some manner be improvised in the next two or three years</em></p>
            <!-- /wp:paragraph -->
        </blockquote>
        <!-- /wp:quote -->
        
        <!-- wp:paragraph -->
        <p>Wells does not approve of the capitalist system that is currently present in Britain. What this has to do with the
            Great War is unclear. He was not the only one, and following the Great War came the rise of Keynesian economics. The
            strange distaste that English Liberals had at the time for capitalism lead them to ally loosely enough with
            socialists, and eventually this unholy alliance lead to the Post-War Consensus following the Second World War. This
            Post-War Consensus must have been seen as worse in every way to what came before – not only did it choke the economy
            of Britain and reduce her power over the world but it also was a great blow for liberalism in general; the
            individual was ever more under the thumb of the British state. Corelli Barnette argues strongly that the post-war
            policies of Britain, especially the welfare state, lead to a general collapse of British power.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:quote -->
        <blockquote class="wp-block-quote">
            <!-- wp:paragraph -->
            <p><em>It is, I believe, an exaggerated dread arising out of our extreme ignorance of Russian realities. English
                    people imagine Russia to be more purposeful than she is, more concentrated, more inimical to Western
                    civilisation. They think of Russian policy as if it were a diabolically clever spider in a dark place. They
                    imagine that the tremendous unification of State and national pride and ambition which has made the German
                    Empire at last insupportable, may presently be repeated upon an altogether more gigantic scale, that
                    Pan-Slavism will take the place of Pan-Germanism, as the ruling aggression of the world.</em></p>
            <!-- /wp:paragraph -->
        
            <!-- wp:paragraph -->
            <p><em>This is a dread due, I am convinced, to fundamental misconceptions and hasty parallelisms. Russia is not only
                    the vastest country in the world, but the laxest; she is incapable of that tremendous unification. Not for
                    two centuries yet, if ever, will it be necessary for a reasonably united Western Europe to trouble itself,
                    once Prussianism has been disposed of, about the risk of definite aggression from the East. I do not think
                    it will ever have to trouble itself.</em></p>
            <!-- /wp:paragraph -->
        </blockquote>
        <!-- /wp:quote -->
        
        <!-- wp:paragraph -->
        <p>Wells could have not been more wrong about Russia it seems. Although that is a little unfair – it would have seemed
            unlikely that Russia could have so radically transformed from an ancient, imperial and traditional nation to a
            "progressive" and communist nation in such a short space of time. Nevertheless, it seems that English Liberals did
            have something to fear from Russia but not Tsarist Russia but a Red Russia.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:quote -->
        <blockquote class="wp-block-quote">
            <!-- wp:paragraph -->
            <p><em>Let me set out the suggestion very plainly. All the plant for the making of war material throughout the world
                    must be taken over by the Government of the State in which it exists; every gun factory, every rifle
                    factory, every dockyard for the building of warships. It may be necessary to compensate the shareholders
                    more or less completely; there may have to be a war indemnity to provide for that, but that is a question of
                    detail. The thing is the conversion everywhere of arms-making into a State monopoly, so that nowhere shall
                    there be a ha’porth of avoidable private gain in it. Then, and then only, will it become possible to arrange
                    for the gradual dismantling of this industry which is destroying humanity, and the reduction of the armed
                    forces of the world to reasonable dimensions. I would carry this suppression down even to the restriction of
                    the manufacture and sale of every sort of gun, pistol, and explosive. They should be made only in Government
                    workshops and sold only in Government shops; there should not be a single rifle, not a Browning pistol,
                    unregistered, unrecorded, and untraceable in the world. But that may be a counsel of perfection. The
                    essential thing is the world suppression of this abominable traffic in the big gear of war, in warships and
                    great guns.</em></p>
            <!-- /wp:paragraph -->
        </blockquote>
        <!-- /wp:quote -->
        
        <!-- wp:paragraph -->
        <p>Wells also wished for a general end to armaments. He calls for the nationalisation of all munitions factories and the
            slow disbanding of these factories. Wells also wishes for all oceans and seas to become international waters, such
            that launching a battleship becomes an act of war against all nations. This is perhaps the greatest failure of
            Wells. The idea that nationalising all munitions production would bring about any semblance of peace is simply a
            farce. Perhaps Wells would be pleased by the actions of the Soviet Union some years later in their great
            nationalisation of Russia’s weapons industries, never-mind their invasions. Seemingly, the English Liberal of the
            time had no concern of what would happen if one was to place so much power into the hands of a single entity.
            Without any forms of check or balance from opposing powers, there is seemingly no end to the lengths to which it can
            go. Machiavelli had already completed a similar analysis some 400 years prior, when he concluded that liberty for
            the masses came only from conflict of several power centres.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>We can only imaging that Woodrow Wilson was either directly influenced by the work, or these two spheres of influence
            overlapped. Woodrow Wilson did become very involved in the peace treaty of WWI, Wilson did found a League of
            Nations, Wilson did begin some map redrawing in Europe. I think it is also not controversial to say that the actions
            of Woodrow Wilson in particular directly created the conditions necessary for the rise of Hitler in Germany and the
            almost inevitability of WWII. None, it seems, are more guilty than Woodrow Wilson and the English Liberals for the
            events of the interwar period. Most of these actions were based on shoddy liberal assumptions; namely, that merely
            creating large international organisations and signing pieces of paper would fundamentally change the nature of
            power.</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Later, in the 1941 edition of <em>The War in the Air</em> Wells writes "I told you so. You <em>damned</em> fools".
            What did Wells tell us, exactly? Woodrow Wilson founding the League of Nations and the map of Europe was redrawn
            more or less to his standards, he seemingly got everything he wished for. The only thing he did not get was the
            nationalisation of all arms manufactories across the world, but this is a moot point he can not hide behind, for the
            most aggressive nations of the inter-war period were the states that took the most power away from the private
            individual (that being, Germany, Italy and Russia. Russia, of course, outright nationalised them, while Germany and
            Italy became fascist, and as Benito Mussolini says, fascism is "all within the state, nothing outside the state,
            nothing against the state"). With Russia in fact become a state for Liberals to fear, it seems Wells was wrong about
            almost everything. Certainly, it should be us who says to Wells "why didn't you <em>think</em> you <em>damned</em>
            fool".</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:separator {"opacity":"css"} -->
        <hr class="wp-block-separator has-css-opacity" />
        <!-- /wp:separator -->
        
        <!-- wp:heading -->
        <h2 id="references">References </h2>
        <!-- /wp:heading -->
        
        <!-- wp:paragraph -->
        <p>H. G. Wells <em>The War that Will End War</em>, 1914</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Murray N. Rothbard <em>Anatomy of the State,</em> 1974</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Correlli Barnett <em>The Pride and Fall Sequence</em> (including <em>The Collapse of British Power</em> 1972, <em>The
                Audit of War</em> 1986, <em>The Lost Victory </em>1995, <em>The Verdict of Peace</em> 2001)</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Bertrand Russel <em>A History of Western Philosophy</em>, 1945</p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>Plato <em>The Republic</em></p>
        <!-- /wp:paragraph -->
        
        <!-- wp:paragraph -->
        <p>James Burnham <em>The Machiavellians</em>, 1943</p>
        <!-- /wp:paragraph -->

    </main>

</body>

</html>